<style>
  .desk {display:block !important;}
  .mobile {display:none !important;}
  #section-footer-testimonials {display:none !important;}
  #shopify-section-footer-faq {display:none !important;}
  
  @media only screen and (max-width:800px){
  .desk {display:none !important;}
  .mobile {display:block !important;}
  }
  
</style>

<div class="desk">
<div class="klaviyo-form-T5RDxH"></div>
</div>

<div class="mobile">
  <div class="klaviyo-form-SVyBqM"></div>
</div>