<style>
.mobile {display:none;}
  .desk {width:800px; margin: 0 auto;}

@media only screen and (max-width:900px){
.desk {display:none !important;}
.mobile {display:block !important;}
}

#section-footer-testimonials {display:none !important;}
  #shopify-section-footer-faq {display:none;}
  
</style>

<div class="desk">
  <div class="klaviyo-form-Vf4psh"></div>
</div>

<div class="mobile">
  <div class="klaviyo-form-TCX2Fj"></div>
</div>