<style>
  #shopify-section-footer-testimonials {display:none;}
  #shopify-section-footer-faq {display:none;}
  #shopify-section-footer {display:none;}

  
</style>

<div class="quiz-wrap">
  <div class="container-indent">
    <div class="container">
<!--       <h2 class="quiz-title Heading">Find your Personalized Regimen</h2>
      <p class="quiz-p">Let’s look at your idea skincare routine and treatment recommendations by answering just a few questions.</p> -->
      {{ page.content }}
    </div>
  </div>
</div>

