<head>
{{ 'doc_style.css' | asset_url | stylesheet_tag }}  
  
<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7690338/7829232/css/fonts.css" />  

  <style> .eventsDetails {padding: 0 0 0 0; !important}
          .eventsRules {padding: 10px 0 0 0; !important}  
  
  
  </style>
  
</head>

<div class="eventsContainer">
     <div class="eventsSectionOne">
       <div class="eventsSOneColumnOne">
         	<div class="eventsLogo tbsaDesktop"><img alt="" src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/TBSALogo.png?v=1626798526" /></div>
       </div>
       <div class="eventsSOneColumnTwo"> 
            <div class="preHeader">PARTICIPATE IN</div>
            <div class="eventsHeader">The Brown Skin Agenda<br>Upcoming Events</div>
            <div class="eventsDate tbsaDesktop">Monday August 16th<br>at 2pm PST / 5pm EST</div>
         <div class="eventsDate tbsaMobile"><strong>Monday August 16th</strong><br>at 2pm PST / 5pm EST</div>
            <div class="eventsBreak"><hr class="eventsBreak"> </div>
            <div class="eventsContent">Join Dr. Jeannie Downie, Dr. Wendy Roberts and Dr. Nia Banks as they introduce The Brown Skin Agenda and discuss “Redefining the Cultural Code: The Myth and the {NEW} Reality for Skin of Color” in this impactful Webinar.</div>
            <div class="eventsOpen">OPEN TO ALL INTERESTED IN THE AGENDA AND SKINCARE</div>
       		<div class="eventsRegister tbsaDesktop" onclick="window.open('https://vimeo.com/590028829/36fc00cb04','mywindow');">WATCH THE WEBINAR!</div>
       </div>
       <div class="eventsSOneColumnThree">
            <div class="triImage"><img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/triImage.jpg?v=1626880135" /</div></div>
     		<div class="eventsRegister tbsaMobile" onclick="window.open('https://vimeo.com/590028829/36fc00cb04','mywindow');">WATCH THE WEBINAR!</div>
         <div class="eventsLogo tbsaMobile">	<img class="mobileImg" alt="" src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/TBSALogo_mobile.png?v=1626898152" /></div>			 

       </div>
  		</div>
     <div class="eventsSectionTwoContainer">
       <div class="eventsSectionTwo">  
       <div class="eventsSTwoColumnOne">
         
         <div class="eventsUpcoming">UPCOMING<br>EVENTS</div>
       		<div class="eventsImage tbsaDesktop"><img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/eventsImage.jpg?v=1626880136" /></div>
       </div>
       <div class="eventsSTwoColumnTwo">   
         <div class="eventsMonth"></div>
       
         <div class="eventsMonth">COMING NOVEMBER</div>
         <div class="eventsRules"></div> 
 
         <div class="eventsDetails">November 10th, 2021<br>6 PM EST/ 5 PM CST/ 3 PM PST<br>IG LIVE: Natural vs. Chemical – “The Big Beauty Debate”<br>Featuring: Corey Hartman, MD – Skin Wellness Dermatology</div>
 
         <div class="eventsMonth">COMING DECEMBER</div>
         <div class="eventsRules"></div>
         <div class="eventsDetails">December 6th, 2021<br>Advisory Board Annual Meeting - Private meeting</div> 
         <div class="eventsRules"></div>
         <div class="eventsDetails">December 14th, 2021<br>IG LIVE: Strawberry Legs: "Why You Need to Know This Term!”<br>Featuring: Corey Hartman, MD – Skin Wellness Dermatology</div> 
         
         <div class="eventsMonth">COMING JANUARY</div>
         <div class="eventsRules"></div>
         <div class="eventsDetails">January 2022<br>IG LIVE:  “Is the VI Body Peel, Right for Skin of Color, and What You Need to Know?” <br>Featuring: Dr. Vikisha Fripp, Dr. Nia Banks, and Dr. Corey Hartman</div>
         
         <div class="eventsMonth"></div>
         
         </div>
       <div class="eventsSTwoColumnThree"> 
         <div class="eventsSignupHeader">SIGN UP HERE</div>
       		<div class="eventsSignupDetails">to receive updates on the programs above plus the latest intel on effective solutions for skin of color.</div>
       		<div class="eventsSignupButton" onclick="location.href='https://vipeel.com/pages/subscribe-the-brown-skin-agenda'">SIGN UP</div>
            <div class="eventsImage tbsaMobile"><img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/eventsImage_mobile.jpg?v=1626966643" style="width: 100%;" /></div>

       </div>
       </div>
  </div>    
</div>
