
<style>
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
  #section-footer-testimonials {display:none;}

</style>

<div class="testimonial-wrap">
	<div class="test-video-cont">
		<div class="vid-box">
			<h2>Dr. Linkner &amp; VI Peel</h2>
			<div class="embed-container">
				<iframe src="https://player.vimeo.com/video/394290566" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
		</div>

		<div class="vid-box">
			<h2>JTAV Clinical Skincare</h2>
			<div class="embed-container">
				<iframe src="https://player.vimeo.com/video/396569400" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
		</div>

	</div>

	<h2>Before &amp; After</h2>

	<div class="test-image-cont">
		<img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/Devin_VIPEEL_PURIFY.jpg?v=1583854130">
		<img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/Jessica_Original_VIPEEL.jpg?v=1583854155">
		<img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/Robin_VIPeel_Precision_Plus.jpg?v=1583854170">
		<img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/Samara_VIPeel_PurifyPrecisionPlus.jpg?v=1583854185">
		<img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/Sheila_VIPeel_Advanced.jpg?v=1583854232">
		<img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/anti-aging.jpg?v=1601502809">
		<img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/melasma_26fff965-fd19-4b63-b010-96f0cb318f55.jpg?v=16015028297">
		<img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/pigment.jpg?v=1601502876">
		<img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/acne.jpg?v=1601502787">
	</div>
</div>