<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/877548edf5.js" crossorigin="anonymous"></script>

<style>
  #shopify-section-footer-testimonials {display:none !important;}
  #shopify-section-footer-faq {display:none !important;}
  
  .faq-hero-section {margin-top: 3rem;}
  .faq-hero-cont {max-width:1300px; height: 28vw; max-height: 420px; margin: 0 auto; position:relative; background-image: url('https://cdn.shopify.com/s/files/1/0064/3003/1908/files/FAQ-Hero.jpg?v=1687542803'); background-size: cover;}
  .faq-hero-cont .t-box {position:absolute; left:5%; top:30%;}
  .faq-hero-cont .t-box h1 {font-size:2.5rem; font-family:'gotham-bold'; color:#115e67; margin-bottom:.5rem; line-height:2.5rem;}
  .faq-hero-cont .t-box h2 {font-size:1.5rem; font-family:'gotham-bold'; color:#115e67; margin-bottom:2rem;}
  .query {width:75%; border: 0; border-radius: 3px; height: 2.5rem; padding: 0 0 0 .5rem;}

  .all-faq-wrap {}
  .all-faq-cont {max-width:1300px; margin: 0 auto;}
  .faq {margin: 1rem 0; display:none;}
  .faq-title {display:flex; justify-content: space-between; background-color: #f2f8f7; padding: 10px 15px; position:relative;}
  .faq-headline {width:90%; font-weight:700; color: #115e67;}
  .faq-headline:hover {text-decoration: underline;}
  .faq i {width:10%; text-align:center; display:block; color: #115e67; font-size:1.2rem; position: absolute; right:0; top:20%;}
  .faq p {overflow: hidden; padding: 0px;}
  .faq p a {color: #FF8E9F;}
  .faq p a:hover {color:#115e67;}
  .negative-indent {margin-left: 40px; text-indent: -40px;}
  
  .faq-cat-cont {display: flex; flex-wrap: wrap; justify-content: center; max-width:1300px; margin: 4rem auto 2rem auto;}
  .faq-cat {background-color:#115E67; width:19%; margin-bottom:2rem; margin-right:.5rem; margin-left:.5rem;}
  .faq-cat:hover {background-color: #FF8E9F;}

  .faq-contact {padding: 2rem 0 5rem 0;}
  .faq-contact-cont {text-align:center;}
  .faq-contact-cont .t-box {margin-bottom: 3rem;}
  .faq-contact-cont .t-box h3 {font-family: 'lust'; color: #115e67; font-size: 2rem; margin: 0 0 0 0;}
  .faq-contact-cont .t-box p {}
  .contact-icons {display:flex; justify-content:space-between; flex-wrap: wrap; max-width:800px; margin: 0 auto;}
  .contact-icon {width:32%; text-align:center;}
  .contact-icon img {width: 40%; margin: 0 auto 0.5rem auto; display:block;}
  .contact-text {display:block;}

  .faq-social-section {}
  .faq-social-cont {max-width:600px; margin:0 auto 5rem auto; justify-content: space-between; display:flex; }
  .faq-social {width:30%; text-align:center;}
  .faq-social-icon {color: #115e67; display:block; font-size: 3rem; margin-bottom: 0.5rem;}
  .faq-social-text {}
  
  @media only screen and (max-width:1000px){
    .faq-hero-cont {max-width:1300px; height: 37vw; max-height: 420px; margin: 0 auto;}
  }

  @media only screen and (max-width:900px){
    .faq-hero-section {margin-top: 0rem;}
    .faq-hero-cont {background-image: url('https://cdn.shopify.com/s/files/1/0064/3003/1908/files/FAQ-Mobile-Hero.jpg?v=1687542804'); background-size:cover; height:144vw; max-height:none;}
    .faq-hero-cont .t-box {left: 0%; top: 64%; text-align: center;}
    .faq-hero-cont .t-box h1 {font-size:2.5rem; font-family:'gotham-bold'; color:white; margin-bottom:1.5rem; line-height:2.5rem;}
    .faq-hero-cont .t-box h2 {font-size:1.5rem; font-family:'gotham-bold'; color:white; margin-bottom:.5rem;}
    .query {height:2rem;}

    .faq-cat-cont {justify-content: space-around; margin: 2rem auto;}
    .faq-cat {width:45%; margin-bottom:2rem;}

    .faq-contact-cont .t-box {padding: 0 15px;}
    .contact-icons {justify-content: space-around;}
    .contact-icon {width:80%; text-align:center; margin-bottom:2rem;}
    .contact-icon img {width: 40%; margin: 0 auto 0.5rem auto; display:block;}
    .contact-text {display:block;}
    
</style>

<div class="faq-hero-section">
  <div class="faq-hero-cont">
    <div class="t-box">
      <h1>Your Questions, Answered.</h1>
      <h2>We’re here to help.</h2>

      <div class="faq-search-cont">
        <input type="text" class="query" placeholder="Search">
      </div>
      
    </div>
  </div>
</div>

<div class="all-faq-wrap">
  <div class="all-faq-cont">
    <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">I Found A VI Peel Product Online For Sale. Can I Buy This And Apply The Peel Myself?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">All VI Peel products are medical in-office treatments and need to be applied by a trained VI provider. If you find a VI Peel product for sale online, it is likely through an unauthorized retailer that is not a credible VI Peel source, and therefore may not be safe to use. For more information, read about our Anti-Diversion policy statement <a href="https://vipeel.com/pages/anti-diversion">here</a>.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Do I Know Which VI Peel To Get?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">We have 6 different VI Peel formulas (5 for the face and 1 for the body) that target your unique skin issues and goals. Your healthcare provider can recommend the peel that is right for you. To find a trusted practitioner, visit our practice finder here. You can also take our short skincare quiz to get started, <a href="https://vipeel.com/pages/skincare-quiz">here</a>.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What VI Derm Skincare Products Should I Get After Getting A VI Peel To Help Maintain My Results?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">All our clinical-grade VI Derm skincare products are created with healthy skin maintenance in mind, and all products are safe and effective for all skin types and tones. To get started, take our skin care quiz to find out which products are best suited for your skin. You can find our skincare quiz <a href="https://vipeel.com/pages/skincare-quiz">here</a>. Looking for prescription VI Derm skincare products? Visit our practice finder to book an appointment with one of our trusted practitioners. Simply check “VI Derm Skincare” under the filter location section to find a provider that carries VI Derm near you.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Is The VI Peel Safe For Darker Skin?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes! ALL VI Peel treatments are safe and effective for ALL skin tones. Inclusivity is central to our brand and mission, and all Vitality Institute products are created for and with skin of color in mind.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Many Peels Do I Need To Start Seeing Results?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Everyone’s skin is a little different, and the number of peels needed for desired results varies from person to person, and from skin condition to skin condition. While just a single peel will achieve significant skin rejuvenation (think less pigment, smoother skin texture, and brighter, glowier skin overall), in general, we recommend a series of 3-6 peels for optimal results. Make sure to consult with your healthcare professional to find a VI Peel treatment frequency that’s right for you.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Will I Look Like Right After The Peel?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Immediately after the peel, your skin may look slightly tan and glowy. You will not look much different and should be okay going about your regular daily routine.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Who Can NOT Get The VI Peel?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Generally, the VI Peel is a safe and effective treatment for most. However, there are a few contraindications that disqualify you from receiving the VI Peel. Please note that the below list is not an extensive list, and we always recommend you consult your healthcare professional before starting any new skincare regimen or treatment.
          <br><br>
              • Those who are pregnant or who are breastfeeding<br>
              • Those who have an aspirin, hydroquinone, or phenol allergy<br>
              • Those who have used oral isotretinoin (Accutane) within the past 6 months<br>
              • Those who have active cold sores, warts, open wounds, or history of herpes simplex<br>
              • Those who are undergoing chemotherapy and or radiation therapy within 6 months Those with a history of an autoimmune (i.e. Lupus) or liver disease/disorder, as well as, any condition that may weaken their immune system<br>
        </p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Does The VI Peel Burn?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">The VI Peel does not burn! You may experience slight warmness and tingling in the beginning, but this should quickly subside. Besides the warmness and tingling, VI Peel treatments are virtually painless.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Eyebrow Threading Before Or After A VI Peel?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Eyebrow threading can be done 10-14 days before or after a VI Peel treatment. We allow this time frame for the skin to heal and prevent irritation. </p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Many Times A Year Can I Have A VI Peel?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">If a series is recommended, the VI Peel is suitable to receive every 4-6 weeks as directed by your Practitioner. Your Practitioner will be able to create your own unique skincare plan for your skincare needs. You can also have the VI Peels quarterly/seasonally and receive 4 peels a year for the maintenance of healthy skin.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I Get A VI Peel If I Have Microbladed Eyebrows?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes, the practitioner just needs to apply a barrier ointment to avoid lifting the pigment. The VI Peel can be done 10-14 days after new microblading, or when the skin has fully healed.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">When Can I Get My Next Facial, Botox, Waxing, IPL, Etc?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Most treatments are safe for your skin after 4 weeks, but contact your practitioner for exact time frames.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Should I Do If I Am Concerned About The Healing Process?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Please contact your practitioner.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can The VI Peel Make Me Breakout Or Purge?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Purging or experiencing mild acne breakouts after getting a VI Peel is completely normal. This type of acne purging can happen after any exfoliating treatment, as the treatment increases cellular turnover, not only lifting dead skin cells but also allowing for any congestion that is trapped beneath the skin to come to the surface. It's important to remember that your acne may seem to get worse before getting better, and you may need multiple VI Peel treatments to resolve your acne. Purging of the skin will reduce with subsequent peels as congested pores become cleared. In between treatments, we recommend using products that help further increase cellular turnover, like VI Derm Retinol Age-Defying Treatment Moisturizer.</p>
      </div>
      
      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Long Will I Peel?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">In general, you can expect to start peeling on or around day three and peel for about three to four days afterward. Each person’s peeling experience is a little different, and some may peel for more or fewer days, depending on the condition of the skin. If this is your first VI Peel, it’s also normal to peel for a longer period of time.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Why Am I Not Peeling? Is This Normal?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">There are many reasons why you may not see the peeling. Even if you can’t see something with the naked eye, the VI Peel is still working for you and exfoliating at the cellular level to brighten and improve your skin’s appearance. If you have further questions or concerns, we highly recommend you return to your Practitioner.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I Peel The Skin That Is Hanging During The Peeling Process?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Do not pull back on the skin that is shedding. It is recommended to use a clean, small cuticle scissor to trim the exfoliating skin. You can also wash the face very gently to help remove the hanging skin but be sure to not rub excessively. If washing the face multiple times a day, be sure to add moisture back to the skin by applying the Post Treatment Repair Cream (or Aquaphor if very dry). Don’t forget to use the VI Derm SPF 50+ to protect the skin during and after the exfoliation process.</p>
      </div>
      
      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">When Can I Wear Makeup After A VI Peel?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">After the VI Peel solution is applied to the skin, no makeup or any topical products can be applied for the first 4 hours, including sunscreen! At the 4 hour mark, you can apply makeup after you've completed the "Four Hour Post Treatment" steps.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I Use My Own Skincare While Peeling?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">We advise against using your regular moisturizers on the skin for the full exfoliation process, as it may have alcohol content or other ingredients that we do not want to damage the skin as it is preparing for peeling and shedding.  We recommend that you stick to the products in your post-care kit only for a full week.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">When Can I Work Out After A VI Peel?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">You should refrain from exercising for 72-96 hours after receiving the VI Peel to prevent any blistering in the skin or Post Inflammatory Hyperpigmentation (PIH). If prone to PIH or with pigment damage/melasma it is suggested to refrain for the entire 7-day peeling process so as not to induce heat or inflammation in the skin that can lead to further damage.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">The Post Treatment Repair Cream Stings! What Should I Do?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Some stinging is common as your new skin is sensitive.  If stinging is excessive, contact your practitioner for an alternative therapy.  </p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">When Can I Go In The Sun?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">You want to avoid direct and extreme sun exposure for the first 7 days.  Make sure you’re applying your VI Derm SPF 50 Sunscreen (provided in your Aftercare Kit) every morning. Also note that lifestyle sun exposure, like running errands, going for a walk, walking your dog, grabbing coffee, and driving, are all fine, as long as you are protecting your skin from the sun by wearing SPF and wearing a hat.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I Cleanse My Face In The Shower During The Post-Peel Process?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">No, before showering, use cool water to gently cleanse your face with the VI Derm Cleanser using your fingertips. Avoid exfoliating, rubbing, pulling, or peeling your skin.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I Swim After A VI Peel?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">We do not recommend swimming for 7-10 days because the chlorine and chemicals in the pool can irritate the skin.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">When Can I Shave?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">You can shave once the peeling process has completed (About 7 days after you receive your VI Peel treatment).</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I Use My LED Light After The VI Peel?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">It is recommended to avoid LED light for the first 7 Days after your VI Peel. LED can be used once your skin has completely recovered from your VI Peel.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">I'm Still Having Some Dry Skin After Day 7 Post-Peel, What Should I Do?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">If you're still experiencing dryness and flakiness 7 days after your VI Peel treatment, we recommend you use a hydrating moisturizer to help alleviate dryness, like CeraVe or Cetaphil moisturizer available at your local drug store.</p>
      </div>
      
      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">I Started Peeling On Day 2 Before I Finished My Post Peel Towelettes. Do I Still Need To Apply My Towelettes?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes, you would still apply your post peel towelettes as instructed, except you would avoid the areas that have already peeled. For example, most people start peeling around their mouth. If the area around your mouth is peeling, simply apply your post peel towelette everywhere except around your mouth.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">I Forgot To Apply My Post-Peel Towelette! / I Accidentally Used The Post-Peel Towelettes In The Wrong Order! Did I Ruin My Peel?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Don’t panic! You did not ruin your peel. The main goal of the post peel towelettes is to help speed up the peeling process, as well as maximize your results from the peel. Our main goal is for you to apply all the towelettes provided within 48 hours of receiving the VI Peel. Forgot to apply your first post peel towelette 4 hours after your treatment? No worries! Simply apply your first post peel towelette on night one, then shift your night one instruction to the morning after. Used the towelettes in the wrong order (only for Purify, Precision Plus, & Purify with Precision Plus peels)? No worries! Simply use what you have left during your next post peel towelette application. For example, if you used your Purify towelette before your Precision Plus towelette, it is okay. Just wait the full 20 minutes before applying the Precision Plus towelette.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What’s The Purpose Of The Post-Peel Towelettes? Do I Really Need To Use Them?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes! Not only do the post-peel towelettes provide more acne, pigment, and age fighting ingredients; they are also designed to help speed up the cell turnover process, helping your skin to peel faster and peel more, maximizing the results you may get from the VI Peel. Because the towelettes help your skin peel faster, they are also helping to minimize your downtime, speeding up the time from peel application to glowing skin results. If you skip the towelettes, your peeling process may be prolonged or minimized.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">I Received My VI Peel In The Evening. Would I Still Apply 2 Sets Of Post-Peel Towelettes On Day 1?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">If you received your VI Peel in the evening, you would still apply your first Post Peel Towelette four hours after the treatment - this will likely be right before bed. Then, move your night one instructions to the next morning (day two). When you wake up on day two, follow the instructions from night one, then follow with a layer of SPF 50+ from the kit. After this, you can resume your post-peel aftercare & towelettes normally, as night two instructions state.</p>
      </div>
      
      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">My Skin Gets So Dry After A VI Peel In The Winter. What Can I Do?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Even on skin that may be normally oily, winter can often result in dryer skin during the post peel process. When experiencing these types of side effects, it is always best to consult with your healthcare provider to find a solution that works best for your skin. We typically recommend using a gentle hydrating cleanser, like the VI Derm Gentle Purifying Cleanser or Cetaphil, and using an occlusive balm like Aquaphor in addition to the Post Treatment Repair Cream (included in your Aftercare Kit). Don’t forget to drink lots of water!</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">I’m Experiencing Severe Itching! What Do I Do?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Some itching during the peeling process is completely normal, and some may experience greater itchiness than others, particularly in the evening. This is also normal. Itchiness is also typically seen more frequently in dry or mature skin types. When itchiness occurs, apply a thin layer of the Post Treatment Repair Cream provided in your kit as needed. If you feel the Post Treatment Repair Cream is not helping, consult your practitioner. They may recommend you upgrade to a stronger hydrocortisone cream, which requires a prescription.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">It’s My First Night And I'm Itchy! Is This Normal?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes, it is normal to experience itching on the first night of your VI Peel treatment. You may apply the Post Treatment Repair anti-itch Cream to your skin throughout the night. Avoid scratching your skin. You may take an over-the-counter antihistamine blocker if recommended by your provider.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Can I Do About Redness Or Chapped Skin?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Redness and dryness are signs that your skin needs a gentle and soothing moisturizer or balm. In addition to the Post Treatment Repair Cream, you can also include Aquaphor to help heal the irritated skin. Aquaphor is a barrier ointment and does not replace the need for the Post Treatment Repair Cream. It is always best to contact your practitioner and allow them to assess your skin needs.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Where Can I Purchase Your Prescription Products, Like The Retinoic Serum Or Skin Lightening Complex With 4% Hydroquinone?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">To purchase our VI Derm prescription products, visit our practice finder to book an appointment with one of our trusted practitioners. Simply check “VI Derm Skincare” under the filter location section to find a provider that carries VI Derm near you.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I Return Your Product?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">If you are not satisfied with your purchase, you can return any product purchased on vipeel.com within 30 days of purchase. Click here to view our full return policy. We do not accept returns from partner sites or practitioner offices.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">I Found Your Products On Amazon. Are These Authentic?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;"> We do offer VI Derm products for sale on Amazon, however, please ensure you are only purchasing from the listings in our official Amazon Storefront, found here. Any other products listed elsewhere are not authorized by Vitality Institute and may be fraudulent or unsafe for use. </p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Do You Have Any Promotional Codes I Can Use To Get A Discount On VI Derm Products?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes! The Vitality Institute offers promotions periodically. Sign up for our email and SMS to get more info. To sign up, scroll to the bottom of our website and enter your email into the section labeled “Sign up for our Newsletter”</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Are Your Products Natural Or Organic?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">All VI Derm products are of clinical grade and formulated to be effective and proven to work. With this, we do utilize ingredients that are not of natural or organic origin.<br><br>
          The use of the word “chemical” has gotten a bad rap lately. However, just because something is chemical does not mean that it is dangerous or harmful. Everything is composed of chemicals – even water and air – and most chemicals you encounter each day are safe and harmless. Sometimes, the non-natural ingredients we use are much more effective and have been studied more extensively than their non-natural counter parts and are therefore safer to use. We only use ingredients that have been proven to work and have been proven to be safe in clinical studies.<br><br>
          In addition, the word organic simply means that the substance does not contain the element carbon. Although the term has become synonymous with safe or natural because of its association with living things, not all organic substances are natural, safe, or healthy.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What If My VI Derm Beauty Product Doesn't Pump And Dispense The Product?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">To preserve the potency and efficacy of our VI Derm products, we use bottles with an airless pump mechanism. This means that these bottles do not have a dip tube or straw. This airless pump design is also more hygienic and ensures consistent application by dispensing your product in measured amounts with each use while keeping your products fresher for longer.<br><br>
          With that, it may take more pumps than expected to start dispensing for the very first use; between 15-20 pumps, or possibly more, to get the product moving.<br><br>
          <strong>If the product is not dispensing after this, we recommend “priming the pump.”</strong> Please do not open the bottle since this can disrupt the airless pump system. To prime the pump, place the cap back on the bottle, hold it upside-down, and gently tap the top against a flat surface. This should spur the product into the usual dispensing action.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Do You Guarantee Your Products?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">VI Peel and VI Derm skin care products are guaranteed only when purchased through an authorized retailer or practitioner. All VI Peel products may only be purchased and administered by a licensed healthcare professional. Products not purchased through an authorized retailer or performed by a licensed healthcare professional can be counterfeit, diluted formulas, or old, expired formulas that may not be safe to use. This means if you buy our products from an outlet other than our authorized partners, we cannot guarantee that products are authentic or that they will perform as tested. To ensure your products are authentic and of high quality, please purchase only through an authorized source.<br><br>   
          To find an authorized VI Practitioner please visit our authorized practitioner locator at <a href="https://vipeel.com/pages/sca-store-locator">https://vipeel.com/pages/sca-store-locator</a>.<br><br>
          Our mission is to provide innovative, non-invasive aesthetic solutions to our professional medical partners and their patients. We support all efforts to remove professional products from consumer websites.  Diversion information can be communicated to Vitality Institute by contacting us at 1.855.VI.Peels or by emailing <a href="mailto:support@vipeel.com">support@vipeel.com</a>.<br><br>
          The following online retailers have no relationship with the Vitality Institute and are some of the online sites that are NOT authorized retailers of Vitality Institute products. We cannot vouch for the authenticity or condition of the products they sell, and we are not responsible for products purchased from these websites:<br><br>
          <a href="http://www.skincaresolutionsstore.com/">www.Skincaresolutionsstore.com</a>, <a href="http://www.skincareandpeels.com/">www.Skincareandpeels.com</a>, <a href="http://www.beautylandonline.com/">www.beautylandonline.com</a>, <a href="http://www.ebay.com/">www.Ebay.com</a></p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Are Your Products Paraben Free?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes, all VI Derm products are paraben free. We have value your concerns and have taken all efforts to remove parabens from our product.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I Use Your Products If I Have Chronic Medical Problems?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">To assure best outcomes, we suggest consulting with your physician prior to beginning any advanced skin care routine.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Long Will My VI Derm Products Last?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">VI Derm products have a shelf-life of 2 years. For those that contain active ingredients you will find a expiration date located on the bottom of the bottle.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">My Product Had A Change In Color And/Or Smell, Is That Normal?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">You may notice from time to time that the color or scent of your product varies. This is completely normal and the direct result of not using artificial coloring agents or fragrances. The exception to this is if the product is used beyond the marked expiration date stamped on the container. The expiration date confirms that the product you are using is guaranteed effective for the time frame indicated, and is best replaced after that.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Order Do I Apply Your Products?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">After proper cleansing, we recommend applying skin care products in the following manner. First serums, then concentrates, moisturizers and finally sunscreen.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Are Your Products Cruelty Free?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes, all VI Derm products are cruelty free. We do not believe in animal testing and choose to partner with suppliers who share our beliefs.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Which VI Derm Products Are Safe During Pregnancy Or Breastfeeding?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">We recommend that pregnant or breastfeeding women always consult with their healthcare provider before using any products. There are suggestions in the FDA guidelines that certain ingredients should be avoided including hydroquinone, salicylic acid, retinoids and chemical sunscreens. The following VI Derm products do not contain any ingredients that are not suitable during pregnancy or breastfeeding and may be an option for you to discuss with your physician: Vitamin C Brightening Concentrate, VI Derm Purifying Cleanser.</p>
      </div>
      

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Do I Still Need SPF On Rainy, Overcast Days?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">We get this question a lot, and the answer is yes. Gray skies do not equate to skipping the SPF skincare step. Why? Because the sun rises every day and brings its UV rays along for the ride. According to the World Health Organization, up to 80 percent of UV rays can penetrate through clouds, strike your skin, and trigger premature aging. To keep photoaging and signs of premature aging like fine lines, wrinkles, hyperpigmentation, and post-inflammatory inflammation away, sunscreen – whether mineral or chemical – is a daily must no matter the weather. Remember: UV rays are strong enough to penetrate windows made of glass—meaning it can surely penetrate clouds that are made of water drops.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Are Chemical Sunscreens Bad For My Skin?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Absolutely not! The skincare industry’s distain on chemical ingredients and labeling them as “harmful” or “bad” – is incredibly misleading. While the word “chemical” may stoke thoughts of toxins and hazardous, consider this: Everything is a chemical. Water, salt, and that invisible stuff you’re breathing right now are chemicals our bodies need to function properly and stay alive. On the flip side, many minerals can be deadly (asbestos, anyone?) and many plants are toxic (hello, poison ivy). The deception that “natural” is synonymous with “safe” is encouraging cosmetic chemists and dermatologists to speak out against so-called “clean beauty” and “natural is better” claims. BOTH chemical and mineral sunscreen ingredients are safe and effective for protecting your skin from the sun and should be used based on your different circumstances.</p>
      </div>


      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Which One Is Better, Chemical Or Mineral SPF?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">
          The best sunscreen is the one you’ll wear. Both mineral SPF and chemical SPF provide essential protection against UV rays, and each has different but unique strengths. Instead of siding with one, it’s best to have both in your arsenal, so you can have a better SPF experience for you and your skin depending on your different circumstances.<br><br>

          When to use Chemical SPF:<br>
          
          • For those who want a dewy, hydrated finish<br>
          • Ultra-Lightweight and ideal for layering under makeup<br>
          • Great for Daily, all-around use<br>
          • Great for use after professional aesthetic treatment to protect your healing skin<br><br>
          
          When to use Mineral SPF:<br>
          • For those who want a matte finish<br>
          • Ideal for use during intense sun exposure or reapplying outdoors<br>
          • Lightweight texture and is great for applying on its own<br>
          • Great for use after a professional aesthetic treatment to protect your healing skin-especially for more sensitive skin types like rosacea and acne-prone</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Is The VI Derm Mineral Sheer SPF 50 Reef Safe?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes, VI Derm Mineral Sheer SPF 50 Broad Spectrum Sunscreen is reef safe.</p>
      </div>
      
      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Will The Gentle Purifying Cleanser Remove My Makeup?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">The Gentle Purifying Cleanser is great at removing makeup from the face. For waterproof makeup, double cleanse (first to remove the makeup, and second to cleanse the skin) or use a gentle makeup remover first.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Gentle Purifying Cleanser | How Often Can I Use The VI Derm Cleanser?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">We recommend cleansing with the VI Derm Purifying cleanser both morning and night or anytime you need to refresh your skin.</p>
      </div>
      
      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">My Vitamin C Brightening Concentrate Is Pilling. What Should I Do?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">To ensure your Vitamin C Brightening Concentrate does not pill, allow ample time for it to dry completely before applying anything else to your face.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Makes The Vitamin C In VI Derm Vitamin C Brightening Concentrate Better Than Other Vitamin C?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Typically, many of the Vitamin C products you see on the market are made with L-ascorbic acid. While L-ascorbic acid is an amazing type of Vitamin C, it is very finicky and oxidizes quickly if not formulated and storied in optimal conditions. The Vitamin C we use is clinical strength 10% tetrahexyldecyl ascorbate, which is a Vitamin C that is much more stable and potent that the typical L-ascorbic acid. In addition, we formulate our Vitamin C Brightening Concentrate with NO water and in an airless pump, which ensures the freshest, most potent formula for much longer.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Do I Use The Vitamin C Brightening Concentrate?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Cleanse the skin thoroughly with VI Derm Gentle Purifying Cleanser. Massage one to two pumps of Vitamin C Brightening Concentrate onto the face and neck. Use AM and PM. When using with VI Derm Retinol Age-Defying Treatment Moisturizer, apply Vitamin C Brightening Concentrate AFTER Moisturizer.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Often Can I Use The Vitamin C Brightening Concentrate?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">We recommend using VI Derm Vitamin C Brightening Concentrate in the morning and in the evening.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Are The Key Ingredients In The Vitamin C Brightening Concentrate?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Our Vitamin C Brightening Concentrate includes clinical strength 10% Tetrahexyldecyl Ascorbate, the most stable and potent form of Vitamin C on the market. It is non-irritating, slow to oxidize, and able to penetrate deep into your skin.</p>
      </div>
            
      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Do I Use The Retinol Age Defying Moisturizer?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Cleanse the skin thoroughly with VI Derm Gentle Purifying Cleanser. Massage one to two pumps onto face and neck. Use AM and PM. When using with VI Derm Vitamin C Brightening Concentrate, apply Retinol Age-Defying Treatment Moisturizer BEFORE the Concentrate.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Will The Retinol Age Defying Moisturizer Irritate My Skin?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">It is normal when adding skin care products that have active ingredients for your skin to acclimate to the stimulation. It is normal to experience light irritation during the first two weeks of use.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Do I Need To Use Sunscreen With The Retinol Age-Defying Treatment Moisturizer?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes. It is highly recommended to add sunscreen with a minimum of SPF 30 to your morning routine when using any product that contains Alpha Hydroxy Acids, Beta Hydroxy Acids, or Retinols.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Often Can I Use The Retinol Age-Defying Treatment Moisturizer</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">The VI Derm Retinol Age Defying Treatment Moisturizer can be used once to twice daily. For sensitive skin, we recommend using it once daily.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Are The Key Ingredients In The Age Defying Moisturizer?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">The VI Derm Retinol Age-Defying Treatment Moisturizer contains Retinol, Glycolic Acid, Vitamin C, Azeleaic Acid, Aloe Leaf, and Vitamin E</p>
      </div>
      
      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Do I Use The VI Derm SPF 50?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Apply liberally 15 minutes before sun exposure. Reapply as needed or after towel drying, swimming, or sweating.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Will The VI Derm SPF 50 Sunscreen Make Me Break Out?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">The VI Derm SPF 50 Sunscreen was formulated to prevent breakouts typically experienced with sunscreens. Although it is possible, most people who are acne-prone find great relief in our product. If you have any questions or concerns, we recommend you consult with your healthcare provider.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I Use The VI Derm SPF 50 Sunscreen On Children?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Our VI Derm SPF 50 Sunscreen can be used on children over the age of 6 months.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Often Do I Need To Reapply The VI Derm SPF 50 Sunscreen?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">As with all sunscreens if you are outdoors in direct sunlight, you should reapply every two hours.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Much VI Derm SPF 50 Sunscreen Do I Need To Apply?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Apply enough to cover your entire face and neck liberally. This can equate to a nickel sized amount, or the length of a finger.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Are The Key Ingredients In The VI Derm SPF 50 Sunscreen?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">The VI Derm SPF 50 Sunscreen contains a blend of Zinc Oxide, Octinoxate, Aloe Vera, and Citrus extracts</p>
      </div>
      
      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Do I Use The Dark Spot Lifting Serum?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Cleanse the skin thoroughly with VI Derm Gentle Purifying Cleanser. Apply a thin layer one to two times a day right after cleansing, and follow with moisturizer. Use sunscreen daily. We recommend VI Derm SPF 50 Daily UV Defense Broad Spectrum Sunscreen.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Do You Recommend People Start Dark Spot Lifting Serum A Month Prior To Weening Off 4% Hydroquinone To Prevent Rebound?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">What we suggest to taper down from 4% Hydroquinone<br><br>

          • If using 4% HQ twice daily, remove the AM session of HQ and add in Dark Spot Lifting Serum for 1-2 weeks. Then discontinue completely and use Dark Spot Lifting Serum twice daily.<br><br>
          • If using 4% HQ only once a day, add in Dark Spot Lifting Serum in the AM and use HQ in the PM for 1-2 weeks. Then discontinue completely and use Dark Spot Lifting Serum twice daily.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Are The Side Effects Of Dark Spot Lifting Serum?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Though side effects are rare, some patients in our clinical study reported a little dryness, but only in the first week of usage while the skin was still acclimating to the product.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I Use The Dark Spot Lifting Serum As A Spot Treatment?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Dark Spot Lifting Serum should be used over the entire face or entire body part that you are treating for pigmentation.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Skin Conditions Does The Dark Spot Lifting Serum Treat?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Dark Spot Lifting Serum is great for those who have pigmentation, including dark spots, sun damage, melasma and PIH.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Skin Type Can Use The Dark Spot Lifting Serum With 5% Tranexamic Acid?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Dark Spot Lifting Serum is safe and effective for all skin types and tones.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I Use The Dark Spot Lifting Serum With 5% Tranexamic Acid On Other Parts Of My Body?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes, it can be used on any parts of the body that you see pigmentation.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Who Should NOT Use The Dark Spot Lifting Serum?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">You should not use the Dark Spot Lifting Serum if you have allergies to any of the ingredients listed.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Will I Break Out Or Will My Skin Purge With Dark Spot Lifting Serum?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Dark Spot Lifting Serum is noncomedogenic, so the product itself should not clog pores. For skin types that typically experience breakouts or purging, the Dark Spot Lifting Serum may actually combat the accumulation of skin cells that lead to breakouts. However, you could experience mild breakouts and purging when first acclimating your skin to the product.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Long Will It Take To See Results With Dark Spot Lifting Serum?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Results will vary depending on skin condition and skin type, but we have seen great results in our clinical study patients within 30 days.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Do I Need To Use Sunscreen With The Dark Spot Lifting Serum?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes, we always advise you to use an SPF 50 with reapplication every 2 hours. We recommend SPF 50 Daily UV Defense Broad Spectrum Sunscreen.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Are The Key Ingredients Of Dark Spot Lifting Serum?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">5% Tranexamic Acid, Lactic Acid & Kojic Acid.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I Use Dark Spot Lifting Serum With 5% Tranexamic Acid If I Am Already Using Hydroquinone?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes! When incorporating Dark Spot Lifting Serum with Hydroquinone, you can alternate use with Hydroquinone in your daily routine. So if you use Hydroquinone in the PM, use Dark Spot Lifting Serum in the AM.<br><br>
          You can also use Dark Spot Lifting Serum when you cycle off of your Hydroquinone to continue fighting, lifting and suppressing pigment when you are off of HQ. Then, when cycling back on Hydroquinone, you can alternate your HQ and Dark Spot Lifting Serum in your daily routine again.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I Use The Dark Spot Lifting Serum With 5% Tranexamic Acid When Pregnant Or While Breastfeeding?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">The Dark Spot Lifting Serum is a safer alternative to Hydroquinone, but it is always best to consult with your healthcare practitioner before starting any new skin care regimen.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Makes Our Dark Spot Lifting Serum With 5% Tranexamic Acid Unique?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Our Dark Spot Lifting Serum is a non-prescription, non-hydroquinone skin brightening serum that is formulated to lift existing pigmentation, sun damage, and fight future pigmentation. It has very high patient satisfaction in our clinical and research study, with improvements seen as soon as 30 days.</p>
      </div>
      
      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Is The Post Treatment Repair Cream For?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">The Post Treatment Repair Cream is a soothing balm that melts into the skin to calm, comfort, and alleviate the redness, dryness, itching, and irritation that is commonly triggered by aesthetic treatments like injectables, lasers, microneedling, waxing, and chemical peels.  It helps your skin to heal quicker and better, as the cream provides the optimal environment for recovery.  It is also a calming must-have for sun exposure and sunburned skin, bug bites, and other lifestyle hazards.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Long Can I Use The Post Treatment Repair Cream?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">You can use the Post Treatment Repair Cream 1-2 times a day, for up to 14 days. If you feel you need the Post Treatment Cream for longer, it is advised you consult with your healthcare provider.</p>
      </div>
      
      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Do I Use The Post Treatment Repair Cream?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Cleanse the skin with VI Derm Gentle Purifying Cleanser. Apply a thin layer of Post Treatment Repair Cream to the affected area 1-2 times a day, for up to 14 days.</p>
      </div>

    <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can The VI Peel Body Treatment Help With My Body Acne?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes! The VI Peel Body treatment is wonderful for helping fight body acne, as well as any scarring that may come with it. Don’t forget to consult with a healthcare provider to find the best treatment for you.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Many VI Peel Body Treatments Do I Need To Start Seeing Results?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Everyone’s skin is a little different, and the number of body peels needed for desired results varies from person to person, and from skin condition to skin condition. While just a single body peel will achieve significant skin rejuvenation (think less pigment, smoother skin texture, and brighter skin overall), in general, we recommend a series of 3-6 VI Peel Body treatments for optimal results. Make sure to consult with your healthcare professional to find a VI Peel Body treatment frequency that’s right for you.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Is The VI Peel Body Safe For Darker Skin?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes! ALL VI Peel treatments are safe and effective for ALL skin tones. Inclusivity is central to our brand and mission, and all Vitality Institute products are created for and with skin of color in mind.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Are The Main Ingredients In Your VI Peel Body?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">The VI Peel Body is made up of a powerful blend of acids including Glycolic Acid, Lactic Acid, Trichloroacetic Acid, and Mandelic Acid.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Does The VI Peel Body Treatment Treat?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">The VI Peel Body treatment is great for treating all kinds of skin issue on the body, including sun damage, acne, scarring, aging, wrinkles, stretch marks, and keratosis pilaris.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Is The VI Peel Body The Same Thing As A VI Peel For The Face?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">No, the VI Peel Body and VI Peel Face formulas are different. The skin on your body is much thicker than the skin on your face. Our VI Peel Body formula was specifically crafted to treat the unique skin on your body.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What’s The Difference Between A VI Peel Body And A Regular VI Peel?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">The VI Peel Body formula was specifically crafted for the unique skin on the body. Because the skin on the body is much thicker than the skin on the face, a traditional facial peel will not be as effective. And unlike the face, which has a cell turnover rate of 28 days, the skin cells on the body turn over closer to every 70 days (though lots of things can affect this number, like age, skin health, and environment). The VI Peel Body treatment was formulated specifically to treat the unique skin on your body.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Does The VI Peel Body Burn?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">The VI Peel Body treatment does not burn! You may experience slight warmness and tingling in the beginning, but this should quickly subside. Besides the warmness and tingling, VI Peel Body treatments are virtually painless.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I Get My Whole Body Treated At Once?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">There is a limit to how many body parts you can get treated at once, and your healthcare provider will be able to go over the details with you. Typically, we recommend only treating (1) large part of your body at once (think: buttocks, abdomen, shoulders, full arms, lower legs, upper legs, and chest), (2) small parts of your body at once (think: decolette, upper arms, underarms, lower arms, bikini, hands, knees, feet, elbows, and lower back), or (1) small part of your body and your face/neck at once. If you’d like to get multiple parts of your body treated, consult with your healthcare practitioner; you will likely need to separate the treatments into multiple sessions at least 48 hours apart.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Long Does It Take To See Peeling & Results For The VI Peel Body?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">You can expect to start peeling with the VI Peel Body Treatment around days 5-7, with full results in as little as 10 days. If this is your first VI Peel Body Treatment, it is also normal to start peeling a little later and peel for a longer period of time.</p>
      </div>
      
      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I Work Out After A VI Peel Body Treatment?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">You should refrain from exercising for until you start peeling, which is typically around the 5-7 day mark, to prevent any blistering in the skin or Post Inflammatory Hyperpigmentation (PIH). If prone to PIH or have severe pigment damage/melasma, it is suggested to refrain for the entire 10-14 day peeling process as not to induce heat or inflammation in the skin (which can lead to further damage).</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What’s The Purpose Of The Retinoic Serum In My Aftercare Kit? Do I Really Need To Use It?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes! Not only does the retinoic serum provide more acne, pigment and age fighting benefits, it is also designed help speed up the cell turnover process, helping your skin to peel faster and peel more, maximizing the results you may get from the VI Peel Body. Because the retinoic serum helps your skin peel faster, it is also helping to minimize your downtime, speeding up the time from peel application to glowing skin results. If you skip the retinoic serum, your peeling process may be prolonged or minimized.</p>
      </div>
      
      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I Peel The Skin That Is Hanging During The Peel Process?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Do not pull back on the skin that is shedding. It is recommended to use a clean, small cuticle scissor to trim the exfoliating skin. You can also wash the face very gently to help remove the hanging skin but be sure to not rub excessively. If washing the affected area multiple times a day, be sure to add moisture back to the skin by applying the Post Treatment Repair Cream (or Aquaphor if very dry). Don’t forget to use the VI Derm SPF 50+ to protect the skin during and after the exfoliation process.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Why Am I Not Peeling? Is This Normal?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">There are many reasons why you may not see the peeling. Even if you can’t see something with the naked eye, the VI Peel is still working for you and exfoliating at the cellular level to brighten and improve your skin’s appearance. If you have further questions or concerns, we highly recommend you return to your Practitioner.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Long Will I Peel?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">In general, you can expect to start peeling on or around day 5-7 and peel for about four to five days afterward. Each person’s peeling experience is a little different, and some may peel for more or fewer days, depending on the condition of the skin. If this is your first VI Peel Body treatment, it’s also normal to start peeling a little later, and peel for a longer period of time.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">When Will I Start Peeling?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Everyone’s skin is different, but in general, you can expect to start peeling on or around day 5-7 and peel for about four to five days afterward. Each person’s peeling experience is a little different, and some may peel for more or fewer days, depending on the condition of the skin. If this is your first VI Peel, it’s also normal to start peeling a little later and peel for a longer period of time.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I Peel The Skin That Is Hanging During The Peel Process?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Do not pull back on the skin that is shedding. It is recommended to use a clean, small cuticle scissor to trim the exfoliating skin. You can also wash the face very gently to help remove the hanging skin but be sure to not rub excessively. If washing the affected area multiple times a day, be sure to add moisture back to the skin by applying the Post Treatment Repair Cream (or Aquaphor if very dry). Don’t forget to use the VI Derm SPF 50+ to protect the skin during and after the exfoliation process.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Why Am I Not Peeling? Is This Normal?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">There are many reasons why you may not see the peeling. Even if you can’t see something with the naked eye, the VI Peel is still working for you and exfoliating at the cellular level to brighten and improve your skin’s appearance. If you have further questions or concerns, we highly recommend you return to your Practitioner.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Long Will I Peel?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">In general, you can expect to start peeling on or around day 5-7 and peel for about four to five days afterward. Each person’s peeling experience is a little different, and some may peel for more or fewer days, depending on the condition of the skin. If this is your first VI Peel Body treatment, it’s also normal to start peeling a little later, and peel for a longer period of time.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">When Will I Start Peeling?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Everyone’s skin is different, but in general, you can expect to start peeling on or around day 5-7 and peel for about four to five days afterward. Each person’s peeling experience is a little different, and some may peel for more or fewer days, depending on the condition of the skin. If this is your first VI Peel, it’s also normal to start peeling a little later and peel for a longer period of time.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Can I Do About Redness, Dryness, Or Chapped Skin?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Redness and dryness are signs that your skin needs a gentle and soothing moisturizer or balm. In addition to the Post Treatment Repair Cream, you can also include Aquaphor to help heal the irritated skin. Aquaphor is a barrier ointment and does not replace the need for the Post Treatment Repair Cream. It is always best to contact your practitioner and allow them to assess your skin needs.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">I’m Experiencing Severe Itching! What Should I Do?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Some itching during the peeling process is completely normal, and some may experience greater itchiness than others, particularly in the evening. This is also normal. Itchiness is also typically seen more frequently in dry or mature skin types. When itchiness occurs, apply a thin layer of the Post Treatment Repair Cream provided in your Aftercare Kit as needed. If you feel the Post Treatment Repair Cream is not helping, consult your practitioner. They may recommend you upgrade to a stronger hydrocortisone cream, which requires a prescription.<br><br>

          It’s also best to wear baggy or loose-fitting clothing to avoid friction on the treated area</p>
      </div>

    <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What’s The Point Of A ToxBooster™ Treatment?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Fine lines & wrinkles are often considered to be the main sign of aging, but did you know that your dark spots & sun damage are inhibiting your youthful glow? Combining a VI Peel + Neurotoxin Injection together targets ALL signs of aging.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Often Can I Get A ToxBooster™ Treatment?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">You can get a ToxBooster™ Treatment as often as you would your neurotoxin injections, typically 3-4 months apart.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Is A ToxBooster™ Treatment?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">The ToxBooster™ Treatment combines a VI Peel and Neurotoxin Injection on the same day, enhancing the results of both. To learn more about the ToxBooster Treatment, click <a href="https://vipeel.com/pages/new-toxbooster-treatment">here</a>.</p>
      </div>

    <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">I Never Received My Shipment. What Should I Do?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Please email us at <a href="mailto:support@vipeel.com">support@vipeel.com</a>, call us at <a href="tel:18558473357">1-855-847-3357</a>, or text us at 1-310-587-1910, and one of our knowledgeable customer experience team members will assist you.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Will My Shipment Need A Signature At Delivery?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes, all packages require a signature by default, unless you select to waive your signature when you place your order. This can be found in your cart, right above the order total. Check “Waive Signature on Delivery” to waive signature and have the shipment carrier leave the package at your door or mailbox.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Do You Ship To PO Boxes?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Unfortunately, we do NOT ship to PO boxes at this time.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">When Will My Order Ship?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Your order typically ships within 1-2 business days after your order is placed. You will get an email notification with your shipment tracking information once it is available.</p>
      </div>

      <div class="faq">
          <div class="faq-title">
            <span class="faq-headline">How long will it take to go through my VI Derm products?</span>
            <i class="fa-solid fa-plus faq-button"></i>
          </div>
          <p class="faq-text" style="max-height: 0px;">Your VI Derm products can last anywhere from 2-4 months depending on the product, if used as directed.</p>
        </div>

    <div class="faq">
          <div class="faq-title">
            <span class="faq-headline">How soon after receiving a peel can you go in the ocean?</span>
            <i class="fa-solid fa-plus faq-button"></i>
          </div>
          <p class="faq-text" style="max-height: 0px;">You would need to wait until the peeling is completely done before going into the ocean, but ultimately, we recommend you reach out to your practitioner to confirm when you can swim in the ocean. Since your skin will be fresh and exfoliated, it's best to refer to your practitioner’s advice.</p>
        </div>

    <div class="faq">
          <div class="faq-title">
            <span class="faq-headline">Can you get a VI Peel if you have Eczema?</span>
            <i class="fa-solid fa-plus faq-button"></i>
          </div>
          <p class="faq-text" style="max-height: 0px;">VI Peel treatments are typically not recommended for patients with Eczema. We recommend that you discuss your personal case with your practitioner.</p>
        </div>

    <div class="faq">
          <div class="faq-title">
            <span class="faq-headline">How soon after the peel can you drink alcohol?</span>
            <i class="fa-solid fa-plus faq-button"></i>
          </div>
          <p class="faq-text" style="max-height: 0px;">You are more than welcome to drink alcohol during your VI Peel treatment but remember to stay hydrated and drink lots of water.</p>
        </div>
    
    <div class="faq">
          <div class="faq-title">
            <span class="faq-headline">Do you apply Post Treatment Repair Cream and SPF on peeled areas only? </span>
            <i class="fa-solid fa-plus faq-button"></i>
          </div>
          <p class="faq-text" style="max-height: 0px;">A layer of the Post Treatment Repair Cream and SPF 50 should be applied evenly on the entire face.</p>
      </div>

    <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I combine Microneedling and VI Peel?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes, combining VI Peel and Microneedling is a wonderful treatment for stubborn hyperpigmentation. We recommend alternating each treatment every 4-6 weeks, based on your practitioner’s recommendations. </p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Why should I combine Microneedling and VI Peel?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">If you suffer from conditions such as melasma or stubborn hyperpigmentation, combining Microneedling with VI Peel is a great treatment option. Microneedling will break up your pigment, while the VI Peel will lift the pigment out of your skin while also preventing new pigment from forming. We recommend alternating each treatment every 4-6 weeks, based on your practitioner’s recommendations. </p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How often can I get Microneedling and VI Peel?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">This combination therapy can be done every 4-6 weeks, alternating the treatments in a series depending on your practitioner’s recommendation. </p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I get Microneedling and VI Peel on the same day? </span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">No, we recommend alternating each treatment every 4-6 weeks, based on your practitioner’s recommendation. </p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What conditions do Microneedling and VI Peel combination therapy treat?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Hyperpigmentation, Melasma, Acne Scars, and Aging are the most common conditions for which this combination therapy is recommended.</p>
      </div>

    <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I combine Laser and VI Peel?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes, for certain lasers! We have tested and approved the same-day use of VI Peel with 1064 ND-Yag lasers, such as Aerolase Neo and Cutera Laser Genesis. Make sure to consult with your practitioner for Laser and VI Peel recommendations. </p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Why should I combine Laser and VI Peel?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">The VI Peel will give the skin a deep exfoliation so that the laser can penetrate effectively and evenly. This will help boost the results you see from laser alone.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How often can I get a Laser and VI Peel combination therapy?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">This same-day treatment is recommended to be done in a series or based on your practitioner’s recommendations. Typically, you can get one every 4 weeks.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I get Laser and VI Peel on the same day? </span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes, for certain lasers! We have tested and approved the same-day use of VI Peel with 1064 ND-Yag lasers, such as Aerolase Neo and Cutera Laser Genesis. Make sure to consult with your practitioner for Laser and VI Peel recommendations.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What results can I expect by combining a Laser and a VI Peel?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">If you are suffering from hyperpigmentation, aging, and/or acne scars, a Laser and VI Peel combination is a great option. The VI Peel will target your main skin concern and provide a deep exfoliation so that the laser can penetrate and rejuvenate the skin better, for overall optimal skin health.</p>
      </div>

    
    
  </div>
</div>


<div class="faq-cat-section">
  <div class="faq-cat-cont">
    <a href="https://vipeel.com/pages/vi-peel-faq" class="faq-cat vi-peel-cat">
      <img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/Vi-Peel-Treatment-Icon.png?v=1687549321" alt="VI PEEL Treatment">
    </a>

    <a href="https://vipeel.com/pages/vi-derm-faq" class="faq-cat vi-derm-cat">
      <img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/Vi-Derm-Skincare-Icon.png?v=1687549321" alt="VI Derm Skincare">
    </a>

    <a href="https://vipeel.com/pages/vi-peel-body-faqs" class="faq-cat vi-body-cat">
      <img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/Vi-Peel-Body-Treatment-Icon.png?v=1687549321" alt="VI PEEL Body Treatment">
    </a>

    <a href="https://vipeel.com/pages/toxbooster-faqs" class="faq-cat toxbooster-cat">
      <img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/ToxBooster-Treatment-Icon.png?v=1687549321" alt="ToxBooster Treatment">
    </a>

    <a href="https://vipeel.com/pages/microneedling-vi-peel-faqs" class="faq-cat microneedling-cat">
      <img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/Microneedling-FAQ-Icon.png?v=1702938273" alt="Microneedling and VI PEEL">
    </a>

    <a href="https://vipeel.com/pages/laser-vi-peel-faqs" class="faq-cat laser-cat">
      <img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/Laser-FAQ-Icon.png?v=1702938273" alt="Laser and VI PEEL">
    </a>


    <a href="https://vipeel.com/pages/orders-and-shipments-faqs" class="faq-cat orders-cat">
      <img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/VI-Peel-Order-Shipments-Icon.png?v=1687549321" alt="Order and shipments">
    </a>
    
  </div>
</div>

<div class="faq-contact">
  <div class="faq-contact-cont">
    <div class="t-box">
      <h3>Need more help?</h3>
      <p>Call, text, email, or DM us for additional assistance.</p>
    </div>
    <div class="contact-icons">
      <div class="contact-icon">
        <a href="tel:18558473357" aria-label="Call: 1-855-847-3357"><img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/VI-Phone-Icon-green2.jpg?v=1689101083" alt="call"></a>
        <span class="contact-text"><a href="tel:18558473357" >Call: 1-855-847-3357</a></span>
      </div>

      <div class="contact-icon">
        <a href="tel:13105871910" aria-label="Call Us at: 1-310-587-1910"><img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/VI-sms-Icon-green2.jpg?v=1689101083" alt="Phone"></a>
        <span class="contact-text"><a href="tel:13105871910" >Call Us at: 1-310-587-1910</a></span>
      </div>

      <div class="contact-icon">
        <a href="mailto:support@vipeel.com" aria-label="Email: support@vipeel.com"><img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/VI-email-Icon-green2.jpg?v=1689101083" alt="email"></a>
        <span class="contact-text"><a href="mailto:support@vipeel.com">Email: support@vipeel.com</a></span>
      </div>
    </div>
  </div>
</div>


<div class="faq-social-section">
  <div class="faq-social-cont">
    <a href="https://www.facebook.com/VIPEEL/" class="faq-social">
      <i class="fa-brands fa-facebook faq-social-icon"></i>
      <span class="faq-social-text">Facebok</span>
    </a>
    <a href="https://www.instagram.com/vipeel/" class="faq-social">
      <i class="fa-brands fa-instagram faq-social-icon"></i>
      <span class="faq-social-text">Instagram</span>
    </a>
    <a href="https://www.tiktok.com/@vipeel" class="faq-social">
      <i class="fa-brands fa-tiktok faq-social-icon"></i>
      <span class="faq-social-text">TikTok</span>
    </a>
  </div>
</div>


<script>
  let faqTitle = document.querySelectorAll('.faq-title');
  let faqText = document.querySelectorAll('.faq-text');
  let faqButton = document.querySelectorAll('.faq-button');
  let faqQuery = document.querySelectorAll('.query')[0];
  let faq = document.querySelectorAll('.faq');

  const faqClick = (n) => {
    if (faqText[n].style.maxHeight == '0px') {
      faqText[n].style.maxHeight = '9999px';
      faqText[n].style.padding = '20px 15px';
      faqButton[n].style.transform = 'rotate(45deg)';
    }

    else {
      faqText[n].style.maxHeight = '0px';
      faqText[n].style.padding = '0px';
      faqButton[n].style.transform = 'rotate(0deg)';
    }

  };

  faqTitle.forEach((btn, index) => {//
  btn.addEventListener("click", function(e) {
    faqClick(index);
  });
})

  const closeFaqs = () => {
      for (i = 0; i < faq.length; i++){
        faq[i].style.display = 'none';
      }
    }

  const searchQuery = () => {
    let searchText = faqQuery.value.toLowerCase();
    console.log(searchText);
    
    for (i = 0; i < faq.length; i++){
      let innerFaqTitle = faqTitle[i].textContent.toLowerCase();
      
      if (innerFaqTitle.includes(searchText)) {
        console.log(innerFaqTitle);
        faq[i].style.display = 'block';
      }
      
      else {
        console.log(innerFaqTitle);
        faq[i].style.display = 'none';
      }

      if (searchText == '') {
        closeFaqs();
      }

    }
  };


  faqQuery.addEventListener("keyup", searchQuery);

  

  
</script>
