<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<style>
h3 {font-family: 'gotham-bold' !important;}
p {font-family: 'gotham-book' !important;}
li {font-family: 'gotham-book' !important;}
p a {text-decoration: underline !important;}

.mobile {display:none;}
@media only screen and (max-width:900px){
  .desk {display:none !important;}
  .mobile {display:block !important;}
}
  
.hero-section {height:45vw; position:relative; z-index:1;}
.about-hero {background: url('https://cdn.shopify.com/s/files/1/0064/3003/1908/files/vi-about-hero3.jpg?v=1670959104'); background-size:cover; width:100%; height:45vw; position:fixed;}
.about-hero .t-box {text-align:center; padding-top:1vw;}
.about-hero .t-box .top-h3 {margin-bottom: 14vw !important;}
.about-hero .t-box h3 {color:white; font-size: 1.8vw; font-weight:700; letter-spacing: .4vw; margin-bottom:1vw;}
.about-hero .t-box h1 {font-family: 'lust'; font-size:8vw; line-height: 8vw; font-weight:700; color:white; margin-bottom:3vw;}
.about-hero .t-box p {font-size:1vw; font-weight:700; color:white; letter-spacing:.2vw;} 
.about-hero .verticle-line {background-color:white; width:1px; height:5vw; margin: 1vw auto 0 auto;}


.we-section {background-color: white; position:relative; z-index: 2;}
.we-cont {width:66%; margin:0 auto; padding: 6vw 0;}
.we-cont .t-box {}
.we-cont .t-box h3 {color:#707070; font-size: 1.6vw; font-weight:400; margin-bottom:1vw; line-height: 2.4vw; font-family: 'gotham-light' !important;}  
.we-cont .t-box h2 {font-family: 'lust'; font-size:3vw; line-height: 3vw; font-weight:700; color: #015A63; margin-bottom:2vw;}
.pink-highlight {display:flex; align-items:center; justify-content:space-between; text-align:center; margin-top:4vw;}
.pink-highlight .pink-t-box {width:31%;}
.pink-highlight h3 {color:#F48C8C; font-family:'gotham-light' !important; font-weight:400; font-size: 1.6vw; line-height:1.6vw; margin-bottom: 1vw;}
.pink-highlight h2 {color:#F48C8C; font-weight:700; font-size: 2.8vw; line-height:2vw; font-family:'lust'; margin:0;}
.pink-highlight .pink-line {width:31%; height:2px; background-color:#F48C8C; }


.since-section {padding-bottom:4vw; background-color: white; position:relative; z-index: 2;}
.since-hero {background: url('https://cdn.shopify.com/s/files/1/0064/3003/1908/files/since-hero.jpg?v=1670603507'); background-size:cover; width:100%; height:36vw; position:relative; z-index:1;}
.since-cont {position:relative; z-index:2; display:flex; width: 66%; margin: -6.4vw auto 0 auto; justify-content: space-between;}
.since-cont .t-box {width: 46%;}
.since-cont .t-box h2 {font-family: 'lust'; font-size: 4vw; line-height: 4.2vw; font-weight: 700; color: #015A63; margin-bottom: 2vw;}
.since-cont .t-box p {}
.since-cont .founder {width:38%;}
.since-cont .founder img {margin-bottom:.5vw;}
.since-cont .founder p {text-transform:uppercase; font-size:12px;}


.info-section {background-color:#015A63; position:relative; z-index: 2;}
.info-cont {width:66%; padding: 6vw 0; margin: 0 auto; position:relative; z-index:2;}
.info-double {display:flex; justify-content: space-between; margin-bottom:5vw; align-items:flex-start; }
.info-double .t-box {width: 45%;}
.info-double .t-box h2 {font-size:4vw; font-family:'lust'; color:white; line-height: 4.2vw; margin-bottom:1vw;}
.info-double .t-box p {color:white;}
.info-double img {width:45%;}
.vi-models {width:100%; position:relative; z-index:1; margin-top:-15vw;}


.skincare-section {padding: 6vw 0; background-color:white; position:relative; z-index: 2;}
.skincare-cont {width:66%; margin: 0 auto; padding: 0; display:flex; justify-content: space-between; flex-wrap:wrap; align-items: center;}
.skincare-cont h2 {font-size:4vw; color:#015A63; text-align:center; width:100%; font-family:'lust';}
.skincare-cont img {width: 38%; margin-bottom: 3vw;}
.skincare-cont .t-box {width: 50%; margin-bottom: 3vw;}
.skincare-cont .t-box h3 {color: #015A63; font-weight: 500; font-size: 2vw; line-height: 2.4vw; margin-bottom: 1vw;}
.skincare-cont .t-box p {}


.diversity-section {background: url('https://cdn.shopify.com/s/files/1/0064/3003/1908/files/diversity.jpg?v=1670611578'); background-size:cover; width:100%; height:49vw; position:relative; z-index: 2;}
.diversity-section .t-box {position: absolute; width:26%; left: 14%; top: 15%;}
.diversity-section .t-box h2 {font-size:4vw; color:#015A63; width:100%; font-family:'lust'; line-height:4.5vw; margin-bottom:1vw;}
.diversity-section .t-box p {font-family:'gotham-light'; font-weight: 400; font-size:16px;}
  

.commitment-section {padding: 6vw 0; background-color:white; position:relative; z-index: 2;}
.commitment-section h2 {font-size:4vw; color:#015A63; width:100%; font-family:'lust'; line-height:4.5vw; margin-bottom:3vw; text-align:center;}
:root {--swiper-theme-color: #015A63 !important;}
.swiper {
  width: 100%;
  height: 45vw;
}
.swiper-button-next {right: 24%; top:14%;}
.swiper-button-next:after {font-size:26px;}

.swiper-button-prev {left: 24%; top:14%;}
.swiper-button-prev:after {font-size:26px;}
  
.swiper-slide {background-color:white;}
  
.commitment-section .t-box {width:40%; margin: 2vw auto;}
.commitment-section .t-box h3 {font-size:1.6vw; margin-bottom:.5vw; color:#707070;}
.commitment-section .t-box p {font-size:1vw;}
.commitment-section .t-box ul {text-indent: -20px; margin-left: 20px;}
.commitment-section .t-box li {font-size:1vw;}

#section-announcement {display:none !important;}
#shopify-section-footer-testimonials {display:none !important;}
#shopify-section-footer-faq {display:none !important;}
#shopify-section-footer {background-color:white; position:relative; z-index: 2;}

@media only screen and (max-width:1655px){
  .vi-models {margin-top:0;}
}
  

@media only screen and (max-width:1340px){
  .info-double .t-box h2 {font-size:3vw; line-height:3vw;}
}

@media only screen and (max-width:1260px){
  .diversity-section .t-box p {font-size: 1.2vw;}
}

@media only screen and (max-width:900px){
  main#main {padding: 0 !important;}
  .hero-section {height:auto;}
  .about-hero {background: url('https://cdn.shopify.com/s/files/1/0064/3003/1908/files/vi-about-hero-mobile.jpg?v=1670618945'); background-size:cover; width:100%; height:175vw; position: static;}
  .about-hero .t-box {padding-top: 4vw; width: 80%; margin: 0 auto;}
  .about-hero .t-box .top-h3 {margin-bottom: 57vw !important;}
  .about-hero .t-box h3 {font-size: 4vw;}
  .about-hero .t-box h1 {font-size: 15vw; line-height: 16vw;}

  .we-cont {width:80%; padding: 10vw 0;}
  .we-cont .t-box h3 {font-size: 4vw; margin-bottom: 2vw; line-height: 6vw;}
  .we-cont .t-box h2 {font-size: 10vw; line-height: 12vw; margin-bottom: 4vw;}
  .pink-highlight {flex-wrap: wrap; margin-top:8vw;}
  .pink-highlight .pink-line {width:100%;}
  .pink-highlight .pink-t-box {width:100%; padding: 4vw 0;}
  .pink-highlight h3 {font-size: 5vw; line-height: 6vw; margin-bottom: 2vw;}
  .pink-highlight h2 {font-size: 10vw; line-height: 10vw;}

  .since-hero {background: url('https://cdn.shopify.com/s/files/1/0064/3003/1908/files/since-hero-mobile.jpg?v=1670618945'); background-size:cover; width:100%; height:110vw;}
  .since-cont {width:80%; flex-wrap: wrap; margin: -15vw auto 0 auto;}
  .since-cont .t-box {width:100%;}
  .since-cont .t-box h2 {font-size:10vw; line-height:10vw;}
  .since-cont .t-box p {margin-bottom:8vw;}
  .since-cont .founder {width: 70%; margin: 0 auto;}
  .since-cont .founder img {margin-bottom:2vw;}
  .since-cont .founder p {margin-bottom:4vw;}

  .info-cont {width:100%; padding: 0;}
  .info-double {flex-wrap: wrap; display: flex;}
  .info-double .t-box {width:80%; margin: 0 auto 0 auto; order: 2;}
  .info-double img {width:100%; order:1; margin-bottom:8vw;}
  .info-double .t-box h2 {font-size:10vw; line-height:10vw; margin-bottom:4vw;}
  .info-double .t-box p {margin-bottom: 4vw;}
  .vi-models {margin-top:0;}


  .skincare-section {padding: 10vw 0;}
  .skincare-cont {width:80%;}
  .skincare-cont h2 {text-align:left; font-size:10vw; line-height:10vw;}
  .skincare-cont img {width:100%; margin-bottom:6vw;}
  .skincare-cont .t-box {width:100%; margin-bottom: 6vw;}
  .skincare-cont .t-box h3 {font-size: 5.5vw; line-height: 7vw; margin-bottom: 4vw; font-weight: 400;}
  .skincare-cont .t-box p {margin-bottom:6vw;}

  .diversity-section {background: url('https://cdn.shopify.com/s/files/1/0064/3003/1908/files/diversity-mobile.jpg?v=1670630691'); background-size:cover; width:100%; height:175vw;}
  .diversity-section .t-box {position:static; width:80%; margin: 0 auto; padding-top:6vw;}
  .diversity-section .t-box h2 {font-size:10vw; line-height:10vw; margin-bottom: 4vw;}
  .diversity-section .t-box p {font-size:3.2vw; line-height: 5.2vw;}

  .commitment-section {padding: 12vw 0;}
  .commitment-section h2 {font-size: 10vw; line-height: 10vw; width: 80%; text-align: left; margin: 0 auto 6vw auto;}
  .swiper {height:210vw;}
  .commitment-section .t-box {width:80%; margin: 6vw auto;}
  .commitment-section .t-box h3 {font-size: 6vw; margin-bottom: 3vw;}
  .commitment-section .t-box p {font-size:3.5vw; line-height: 5.5vw;}
  .commitment-section .t-box li {font-size:3.5vw;}

  :root {--swiper-theme-color: white !important;}
  .swiper-button-next {right: 4%; top:15%;}
  .swiper-button-next:after {font-size:10vw;}
  
  .swiper-button-prev {left: 4%; top:15%;}
  .swiper-button-prev:after {font-size:10vw;}
  
}
  
  
</style>

<div class="hero-section">
  <div class="about-hero">
    <div class="t-box">
      <h3 class="top-h3">ABOUT US</h3>
      <h3>CONFIDENT SKIN BEGINS WITH THE</h3>
      <h1>Vitality Institute</h1>
      <p style="display:none !important">SCROLL</p>
      <div class="verticle-line" style="display:none !important"></div>
    </div>
  </div>
</div>

<div class="we-section">
    <div class="we-cont">
        <div class="t-box">
          <h3>WE ARE THE</h3>
          <h2>Vitality Institute:</h2>
          <h3>The leading professional treatment and clinical skincare brand, and creator of the revolutionary VI Peel. Backed by decades of research, and dedicated to diversity, all products and treatments are proven to perform on pigmentation, dark spots, and sun damage.</h3>
        </div>
      <div class="pink-highlight">
        <div class="pink-line"></div>
        <div class="pink-t-box">
          <h3>1 PEEL PERFORMED</h3>
          <h2>every minute</h2>
        </div>
        <div class="pink-line"></div>
      </div>
    </div>     
</div>

<div class="since-section">
  <div class="since-hero"></div>
  <div class="since-cont">
    <div class="t-box">
      <h2>delivering confident skin since 2005</h2>
      <p>The Vitality Institute was founded by Dr. Abdala Khalil, an emergency room doctor who created a custom chemical peel for his eldest daughter, Marya, as a solution for her hormonal cystic acne at a time when chemical peels were unsafe for skin of color. The results were impressive but moreover, her confidence from having clear and healthy skin inspired Dr. Khalil to share his peel with his clients and ultimately, the world. </p>
    </div>
    <div class="founder">
      <img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/founder-img.jpg?v=1670603690" alt="Dr. Abdala Khalil">  
      <p>Vitality Institute Founder, Dr. Abdala Khalil</p>
    </div>
  </div>
</div>

<div class="info-section">
  <div class="info-cont">
    <div class="info-double">
      <div class="t-box">
        <h2>our<br>mission</h2>
        <p>Our mission is, and has always been, to help people of all skin types and tones discover confidence through better skin health. At a time when self-care and self-love are so necessary for us all, Vitality Institute is proud to be a leader within the clinical grade skin care space by empowering an effective and innovative approach to healthy, glowing skin.</p>
      </div>
      <img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/mission-image.jpg?v=1670608305" alt="Mission Image">
    </div>

    <div class="info-double">
      <div class="t-box">
        <h2>meet <br>marya</h2>
        <p>After Dr. Khalil’s untimely passing, Marya (at just 25 years old) stepped into a leadership role at Vitality Institute in the name of preserving her father’s legacy and a passion to support her family. She overcame intense challenges and obstacles and today, Marya is the President and CEO, and under her leadership, the company has grown to offer six medical-grade VI Peel formulations customized for various skin conditions, and VI Derm, a full portfolio of clinical daily care products specifically formulated to reduce pigment and increase cell turnover. The Vitality Institute is Women Business Enterprise (WBE) Certified and is recognized as one of the fastest growing companies by the prestigious INC 5000 list. VI Peel was also awarded Cosmopolitan’s Holy Grail Beauty Award for “Best Professional Chemical Peel." Learn More about Vitality Institute CEO, Marya Khalil <a href="/pages/about-marya">HERE</a>.</p>
      </div>
      <img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/founder-image-2.jpg?v=1670609468" alt="Founder Image">
    </div>
  </div>

  <img class="vi-models desk" src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/vi-models-1.jpg?v=1670608421" alt="VI Models">
  <img class="vi-models mobile" src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/vi-models-1-mobile.jpg?v=1670618945" alt="VI Models">
</div>

<div class="skincare-section">
  <div class="skincare-cont">
    <h2>scientific skincare</h2>
    
    <img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/vi-skincare-1.jpg?v=1670609673" alt="VI Science">
    <div class="t-box">
      <h3>Rooted in Science,<br class="desk"> Backed by Proof</h3>
      <p>Every VI Peel and VI Derm formula is carefully crafted with potent, powerful ingredients that are rigorously tested, proven to work, and safe for all skin types and tones. Today, over 7,000 clinicians, practitioners, dermatologists, plastic surgeons, and medical partners such as the Mayo Clinic and Cedars Sinai, use Vitality Institute products to deliver professional-grade results even on the most intense, stubborn skin conditions. </p>
    </div>

    <img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/vi-skincare-2.jpg?v=1670609673" alt="VI Ingredients">
    <div class="t-box">
      <h3>Key Ingredient<br class="desk"> Technologies</h3>
      <p>To achieve incredible results for our patients, we rely on developing formulas for a focused, effective, and streamlined product line.  From our newest innovation, pigment-fighting TRI-ERA8SE™ Acid Complex, to our proprietary painless peel treatment formulations, our ingredient blends focus on results and efficacy without the “fluff.”</p>
    </div>

    <img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/vi-skincare-3.jpg?v=1670609673" alt="VI Research Center">
    <div class="t-box">
      <h3>Research Center Studies</h3>
      <p>The Vitality Institute is proud of our library of compelling Before & After photography, patient testimonials, and clinical studies conducted through our research center, led by Registered Nurse Nancy Miller. 
        <br><br>Our most recent clinical study investment measured the astounding anti-aging benefits of our ToxBooster Treatment, as well as the efficacy of our Dark Spot Lifting Serum on pigmentation like sun damage.</p>
    </div>

  </div>
</div>

<div class="diversity-section">
  <div class="t-box">
    <h2>diversity & inclusion</h2>
    <p>As one of the first skin care brands created by a person of color for people of color, we remain at the forefront of discoveries and discussions about skin of color in the dermatological field. Since our inception, all VI Peels for the Face and Body are thoroughly tested for safety and efficacy on all Fitzpatrick skin types, and our educational platform, The Brown Skin Agenda, is committed to raising awareness, providing solutions, and inspiring essential conversations around treating skin of color. Learn more about The Brown Skin Agenda and our legacy of inclusion <a href="/pages/inclusion">here</a>. </p>
  </div>
</div>


<div class="commitment-section">
  <h2>our commitment</h2>

    <!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <img class="desk" alt="TO THE EARTH" src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/vi-slide-1.jpg?v=1670615217">
      <img class="mobile" alt="TO THE EARTH" src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/vi-slide-1-mobile.jpg?v=1670631200">
      <div class="t-box">
        <h3>TO THE EARTH</h3>
        <p>We believe you can care for your skin safely and confidently while consuming consciously. That’s why we are as committed to minimizing waste as we are to maximizing packaging that maintains the utmost product efficacy. 
        <br><br>These are the real, tangible steps we’ve taken towards minimizing our footprint. And this is just the beginning. We have so much more to learn and understand, and are committed to moving thoughtfully towards real, measurable sustainability.</p>
        <ul>
          <li>We've phased in packaging that generates 34% less waste, all without compromising formula efficacy or integrity</li>
          <li>Our shipping box fillers are made from easy-to-recycle paper rather than packaging peanuts or bubble wrap</li>
        </ul>
      </div>
    </div>

    <div class="swiper-slide">
      <img class="desk" alt="TO OUR COMMUNITY" src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/vi-slide-2.jpg?v=1670615216">
      <img class="mobile" alt="TO OUR COMMUNITY" src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/vi-slide-2-mobile.jpg?v=1670631200">
      <div class="t-box">
        <h3>TO OUR COMMUNITY</h3>
        <p>Here at Vitality Institute, we are committed to making a positive impact in the communities we serve. That why – with your help – we’ve committed 10% of all orders purchased through vipeel.com to be given back to non-profit organizations in need, 365 days of the year. 
      </div>
    </div>

    <div class="swiper-slide">
      <img class="desk" alt="TO PRACTITIONERS" src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/vi-slide-3.jpg?v=1670615216">
      <img class="mobile" alt="TO PRACTITIONERS" src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/vi-slide-3-mobile.jpg?v=1670631200">
      <div class="t-box">
        <h3>TO PRACTITIONERS</h3>
        <p>The Vitality Institute partners with over 7,000 medical spas and doctor’s offices by providing comprehensive treatment protocols and post-treatment care for patients to ensure the best experience and outcome. To schedule your own VI Peel consultation, reach out to one of our partners <a href="/pages/sca-store-locator">HERE</a>.
          <br><br>Our commitment to patients and practitioners also extends to protection from accessing expired or fraudulent products sold by unauthorized Vitality Institute retailers with our Anti-Diversion Program featuring the latest tracking technology.  To learn more and join us on our fight against fraudulent products, click <a href="/pages/anti-diversion">HERE</a>.</p>
      </div>
    </div>

  </div>
  
  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

</div>
  
</div>



<script>
  const swiper = new Swiper('.swiper', {
  // Optional parameters
  direction: 'horizontal',
  slidesPerView: 1,
        spaceBetween: 30,
        loop: true,
        effect: "fade",
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },


});
</script>



