<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/877548edf5.js" crossorigin="anonymous"></script>

<style>
  #shopify-section-footer-testimonials {display:none !important;}
  #shopify-section-footer-faq {display:none !important;}
  
  .faq-hero-section {margin-top: 3rem;}
  .faq-hero-cont {max-width:1300px; height: 28vw; max-height: 420px; margin: 0 auto; position:relative; background-image: url('https://cdn.shopify.com/s/files/1/0064/3003/1908/files/FAQ-Hero.jpg?v=1687542803'); background-size: cover;}
  .faq-hero-cont .t-box {position:absolute; left:5%; top:30%;}
  .faq-hero-cont .t-box h1 {font-size:3rem; font-family:'gotham-bold'; color:#115e67; margin-bottom:.5rem; line-height:2.5rem;}
  .faq-hero-cont .t-box h2 {font-size:1.5rem; font-family:'gotham-bold'; color:#115e67; margin-bottom:2rem;}
  .faq-hero-cont .t-box h2:hover {color: #FF8E9F;}

  .faq-section {margin: 0 0 5rem 0;}
  .faq-cont {display:flex; flex-wrap: wrap; justify-content:space-between; width:100%; max-width: 1300px; margin: 0 auto;}
  .faq-block {width:48%;}
  .faq-block h1 {font-size:1.5rem; padding-left:15px; margin-top:3rem;}
  .faq {}
  .faq-title {display:flex; justify-content: space-between; background-color: #f2f8f7; padding: 10px 15px; position:relative;}
  .faq-headline {width:90%; font-weight:700; color: #115e67;}
  .faq-headline:hover {text-decoration: underline;}
  .faq i {width:10%; text-align:center; display:block; color: #115e67; font-size:1.2rem; position: absolute; right:0; top:20%;}
  .faq p {overflow: hidden; padding: 0px;}
  .faq p a {color: #FF8E9F;}
  .faq p a:hover {color:#115e67;}
  .negative-indent {margin-left: 40px; text-indent: -40px;}

  .faq-contact {padding: 2rem 0 5rem 0;}
  .faq-contact-cont {text-align:center;}
  .faq-contact-cont .t-box {margin-bottom: 3rem;}
  .faq-contact-cont .t-box h3 {font-family: 'lust'; color: #115e67; font-size: 2rem; margin: 0 0 0 0;}
  .faq-contact-cont .t-box p {}
  .contact-icons {display:flex; justify-content:space-between; flex-wrap: wrap; max-width:800px; margin: 0 auto;}
  .contact-icon {width:32%; text-align:center;}
  .contact-icon img {width: 40%; margin: 0 auto 0.5rem auto; display:block;}
  .contact-text {display:block;}

  .faq-social-section {}
  .faq-social-cont {max-width:600px; margin:0 auto 5rem auto; justify-content: space-between; display:flex; }
  .faq-social {width:30%; text-align:center;}
  .faq-social-icon {color: #115e67; display:block; font-size: 3rem; margin-bottom: 0.5rem;}
  .faq-social-text {}
  
  @media only screen and (max-width:1000px){
    .faq-hero-cont {max-width:1300px; height: 37vw; max-height: 420px; margin: 0 auto;}
  }

  @media only screen and (max-width:900px){
    .faq-hero-section {margin-top: 0rem;}
    .faq-hero-cont {background-image: url('https://cdn.shopify.com/s/files/1/0064/3003/1908/files/FAQ-Mobile-Hero.jpg?v=1687542804'); background-size:cover; height:144vw; max-height:none;}
    .faq-hero-cont .t-box {left: 13%; top: 84%; text-align: center;}
    .faq-hero-cont .t-box h1 {font-size:10.5vw; font-family:'gotham-bold'; color:white; margin-bottom:0rem; line-height:10.5vw;}
    .faq-hero-cont .t-box h2 {font-size:5.5vw; font-family:'gotham-bold'; color:white; margin-bottom:.5rem;}
    .query {height:2rem;}
    

    .faq-block {width:90%; margin: 0 auto;}

    .faq-contact-cont .t-box {padding: 0 15px;}
    .contact-icons {justify-content: space-around;}
    .contact-icon {width:80%; text-align:center; margin-bottom:2rem;}
    .contact-icon img {width: 40%; margin: 0 auto 0.5rem auto; display:block;}
    .contact-text {display:block;}
    
</style>

<div class="faq-hero-section">
  <div class="faq-hero-cont">
    <div class="t-box">
      <h1>Orders & Shipment FAQs</h1>
      <h2><a href="https://vipeel.com/pages/faq"><i class="fa-solid fa-circle-arrow-left"></i> Click here to go back</a></h2>
    </div>
  </div>
</div>

<div class="faq-section">
  <div class="faq-cont">
    <div class="faq-block">

      <h1>Orders and Shipments FAQs</h1>
      
      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">I Never Received My Shipment. What Should I Do?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Please email us at <a href="mailto:support@vipeel.com">support@vipeel.com</a>, call us at <a href="tel:18558473357">1-855-847-3357</a>, or text us at 1-310-587-1910, and one of our knowledgeable customer experience team members will assist you.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Will My Shipment Need A Signature At Delivery?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes, all packages require a signature by default, unless you select to waive your signature when you place your order. This can be found in your cart, right above the order total. Check “Waive Signature on Delivery” to waive signature and have the shipment carrier leave the package at your door or mailbox.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Do You Ship To PO Boxes?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Unfortunately, we do NOT ship to PO boxes at this time.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">When Will My Order Ship?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Your order typically ships within 1-2 business days after your order is placed. You will get an email notification with your shipment tracking information once it is available.</p>
      </div>

    </div>

    
  </div>
</div>

<div class="faq-contact">
  <div class="faq-contact-cont">
    <div class="t-box">
      <h3>Need more help?</h3>
      <p>Call, text, email, or DM us for additional assistance.</p>
    </div>
    <div class="contact-icons">
      <div class="contact-icon">
        <a href="tel:18558473357"><img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/VI-Phone-Icon-green2.jpg?v=1689101083"></a>
        <span class="contact-text"><a href="tel:18558473357">Call: 1-855-847-3357</a></span>
      </div>

      <div class="contact-icon">
        <a href="tel:13105871910"><img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/VI-sms-Icon-green2.jpg?v=1689101083"></a>
        <span class="contact-text"><a href="tel:13105871910">Call Us at: 1-310-587-1910</a></span>
      </div>

      <div class="contact-icon">
        <a href="mailto:support@vipeel.com"><img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/VI-email-Icon-green2.jpg?v=1689101083"></a>
        <span class="contact-text"><a href="mailto:support@vipeel.com">Email: support@vipeel.com</a></span>
      </div>
    </div>
  </div>
</div>


<div class="faq-social-section">
  <div class="faq-social-cont">
    <a href="https://www.facebook.com/VIPEEL/" class="faq-social">
      <i class="fa-brands fa-facebook faq-social-icon"></i>
      <span class="faq-social-text">Facebok</span>
    </a>
    <a href="https://www.instagram.com/vipeel/" class="faq-social">
      <i class="fa-brands fa-instagram faq-social-icon"></i>
      <span class="faq-social-text">Instagram</span>
    </a>
    <a href="https://www.tiktok.com/@vipeel" class="faq-social">
      <i class="fa-brands fa-tiktok faq-social-icon"></i>
      <span class="faq-social-text">TikTok</span>
    </a>
  </div>
</div>


<script>
  let faqTitle = document.querySelectorAll('.faq-title');
  let faqText = document.querySelectorAll('.faq-text');
  let faqButton = document.querySelectorAll('.faq-button');

  const faqClick = (n) => {
    if (faqText[n].style.maxHeight == '0px') {
      faqText[n].style.maxHeight = '9999px';
      faqText[n].style.padding = '20px 15px';
      faqButton[n].style.transform = 'rotate(45deg)';
    }

    else {
      faqText[n].style.maxHeight = '0px';
      faqText[n].style.padding = '0px';
      faqButton[n].style.transform = 'rotate(0deg)';
    }

  };

  faqTitle.forEach((btn, index) => {//
  btn.addEventListener("click", function(e) {
    console.log(index);
    faqClick(index);
  });
})


</script>

