<style>
	.ty-wrap {width: 100%; display: flex;}
	.ty-left {width: 50%;}
	.ty-message {padding: 5vw;}
	.ty-badge {width: 10rem; margin-bottom: 3rem;}
	.ty-message h1 {font-family: 'lust'; font-weight: 700; margin: 0 0 0 0; font-size: 4rem !important; color: #115E67;text-transform: lowercase !important;}
	.ty-message p {font-size: 1.2rem; color: #707070; margin: 0 0 2rem 0;} 
	.ty-message h2 {font-size: 2rem; color: #115E67; font-weight: 100; line-height: 3rem;}
	.ty-message h2 .highlight-text {font-size: 3.5rem; font-weight: 400;}

	.ty-post {background-color: #0F5E67; padding: 5vw;}
	.ty-post h3 {color: white; font-size: 1.2rem !important; font-weight: 700; margin: 0; text-transform: uppercase;}
	.ty-post p {color: white; font-size: 1rem; font-weight: 700;}
	.ty-post ul {color: white; margin-bottom: 1rem;}
	.ty-post li {color: white; font-weight: 700;}

	.ty-right {width: 50%; background-image: url('https://cdn.shopify.com/s/files/1/0064/3003/1908/files/thankyou-hero.jpg?v=1647476723'); background-size: cover; }
	
  
  
  #section-footer-testimonials {display:none !important;}
  
  @media only screen and (min-width:1700px){
  .ty-message {padding: 8vw;}
    .ty-post {padding: 8vw;}
  
  }
  
  
	@media only screen and (max-width: 1023px){
		.ty-left {width: 100%;}
		.ty-right {display: none;}
	}

	@media only screen and (max-width: 600px){
		.ty-message {padding: 2rem;}
		.ty-message h1 {font-size: 3rem !important;}
		.ty-post {padding:  2rem;}
	}


</style>

<div class="ty-wrap">
	<div class="ty-left">
		<div class="ty-message">
			<img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/VI-circle-badge-green.jpg?v=1647476723" class="ty-badge">
			<h1>thank you!</h1>
			<p>We received your professional provider application.</p>
			<h2>Get ready to <span class="highlight-text">transform</span><br>your patient’s lives!</h2>
		</div>
		<div class="ty-post">
			<h3>What’s next?</h3>
			<p>You will soon receive an invite to our Welcome to VI: Intro Webinar. This webinar is held on the first Wednesday of every month. In this exclusive webinar, you will learn:</p>
			<ul>
				<li>What sets the VI Peel formula apart from other chemical peels</li>
				<li>Explore the layers of skin and the impact of VI Peels on all Fitzpatrick Skin Types</li>
				<li>How to incorporate other services with the VI Peel to achieve optimal results</li>
				<li>View the marketing and business support offered to help grow your business</li>
			</ul>
			<h3>Do you need more information?</h3>
			<p>Please contact <a href="mailto:support@vipeel.com">support@vipeel.com</a></p>
			<h3>Do you need your rep to contact you? </h3>
			<p>Please contact <a href="mailto:support@vipeel.com">support@vipeel.com</a></p>
		</div>
	</div>

	<div class="ty-right"></div>
	
</div>