<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/877548edf5.js" crossorigin="anonymous"></script>

<style>
  #shopify-section-footer-testimonials {display:none !important;}
  #shopify-section-footer-faq {display:none !important;}
  
  .faq-hero-section {margin-top: 3rem;}
  .faq-hero-cont {max-width:1300px; height: 28vw; max-height: 420px; margin: 0 auto; position:relative; background-image: url('https://cdn.shopify.com/s/files/1/0064/3003/1908/files/FAQ-Hero.jpg?v=1687542803'); background-size: cover;}
  .faq-hero-cont .t-box {position:absolute; left:5%; top:30%;}
  .faq-hero-cont .t-box h1 {font-size:3rem; font-family:'gotham-bold'; color:#115e67; margin-bottom:.5rem; line-height:2.5rem;}
  .faq-hero-cont .t-box h2 {font-size:1.5rem; font-family:'gotham-bold'; color:#115e67; margin-bottom:2rem;}
  .faq-hero-cont .t-box h2:hover {color: #FF8E9F;}

  .faq-section {margin: 0 0 5rem 0;}
  .faq-cont {display:flex; flex-wrap: wrap; justify-content:space-between; width:100%; max-width: 1300px; margin: 0 auto;}
  .faq-block {width:48%;}
  .faq-block h1 {font-size:1.5rem; padding-left:15px; margin-top:3rem;}
  .faq {}
  .faq-title {display:flex; justify-content: space-between; background-color: #f2f8f7; padding: 10px 15px; position:relative;}
  .faq-headline {width:90%; font-weight:700; color: #115e67;}
  .faq-headline:hover {text-decoration: underline;}
  .faq i {width:10%; text-align:center; display:block; color: #115e67; font-size:1.2rem; position: absolute; right:0; top:20%;}
  .faq p {overflow: hidden; padding: 0px;}
  .faq p a {color: #FF8E9F;}
  .faq p a:hover {color:#115e67;}
  .negative-indent {margin-left: 40px; text-indent: -40px;}

  .faq-contact {padding: 2rem 0 5rem 0;}
  .faq-contact-cont {text-align:center;}
  .faq-contact-cont .t-box {margin-bottom: 3rem;}
  .faq-contact-cont .t-box h3 {font-family: 'lust'; color: #115e67; font-size: 2rem; margin: 0 0 0 0;}
  .faq-contact-cont .t-box p {}
  .contact-icons {display:flex; justify-content:space-between; flex-wrap: wrap; max-width:800px; margin: 0 auto;}
  .contact-icon {width:32%; text-align:center;}
  .contact-icon img {width: 40%; margin: 0 auto 0.5rem auto; display:block;}
  .contact-text {display:block;}

  .faq-social-section {}
  .faq-social-cont {max-width:600px; margin:0 auto 5rem auto; justify-content: space-between; display:flex; }
  .faq-social {width:30%; text-align:center;}
  .faq-social-icon {color: #115e67; display:block; font-size: 3rem; margin-bottom: 0.5rem;}
  .faq-social-text {}
  
  @media only screen and (max-width:1000px){
    .faq-hero-cont {max-width:1300px; height: 37vw; max-height: 420px; margin: 0 auto;}
  }

  @media only screen and (max-width:900px){
    .faq-hero-section {margin-top: 0rem;}
    .faq-hero-cont {background-image: url('https://cdn.shopify.com/s/files/1/0064/3003/1908/files/FAQ-Mobile-Hero.jpg?v=1687542804'); background-size:cover; height:144vw; max-height:none;}
    .faq-hero-cont .t-box {left: 13%; top: 84%; text-align: center;}
    .faq-hero-cont .t-box h1 {font-size:10.5vw; font-family:'gotham-bold'; color:white; margin-bottom:0rem; line-height:10.5vw;}
    .faq-hero-cont .t-box h2 {font-size:5.5vw; font-family:'gotham-bold'; color:white; margin-bottom:.5rem;}
    .query {height:2rem;}
    

    .faq-block {width:90%; margin: 0 auto;}

    .faq-contact-cont .t-box {padding: 0 15px;}
    .contact-icons {justify-content: space-around;}
    .contact-icon {width:80%; text-align:center; margin-bottom:2rem;}
    .contact-icon img {width: 40%; margin: 0 auto 0.5rem auto; display:block;}
    .contact-text {display:block;}
    
</style>

<div class="faq-hero-section">
  <div class="faq-hero-cont">
    <div class="t-box">
      <h1>VI Peel Body FAQs</h1>
      <h2><a href="https://vipeel.com/pages/faq"><i class="fa-solid fa-circle-arrow-left"></i> Click here to go back</a></h2>
    </div>
  </div>
</div>

<div class="faq-section">
  <div class="faq-cont">
    <div class="faq-block">

      <h1>General VI Peel Body FAQs</h1>
      
      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can The VI Peel Body Treatment Help With My Body Acne?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes! The VI Peel Body treatment is wonderful for helping fight body acne, as well as any scarring that may come with it. Don’t forget to consult with a healthcare provider to find the best treatment for you.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Many VI Peel Body Treatments Do I Need To Start Seeing Results?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Everyone’s skin is a little different, and the number of body peels needed for desired results varies from person to person, and from skin condition to skin condition. While just a single body peel will achieve significant skin rejuvenation (think less pigment, smoother skin texture, and brighter skin overall), in general, we recommend a series of 3-6 VI Peel Body treatments for optimal results. Make sure to consult with your healthcare professional to find a VI Peel Body treatment frequency that’s right for you.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Is The VI Peel Body Safe For Darker Skin?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes! ALL VI Peel treatments are safe and effective for ALL skin tones. Inclusivity is central to our brand and mission, and all Vitality Institute products are created for and with skin of color in mind.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Are The Main Ingredients In Your VI Peel Body?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">The VI Peel Body is made up of a powerful blend of acids including Glycolic Acid, Lactic Acid, Trichloroacetic Acid, and Mandelic Acid.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Does The VI Peel Body Treatment Treat?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">The VI Peel Body treatment is great for treating all kinds of skin issue on the body, including sun damage, acne, scarring, aging, wrinkles, stretch marks, and keratosis pilaris.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Is The VI Peel Body The Same Thing As A VI Peel For The Face?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">No, the VI Peel Body and VI Peel Face formulas are different. The skin on your body is much thicker than the skin on your face. Our VI Peel Body formula was specifically crafted to treat the unique skin on your body.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What’s The Difference Between A VI Peel Body And A Regular VI Peel?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">The VI Peel Body formula was specifically crafted for the unique skin on the body. Because the skin on the body is much thicker than the skin on the face, a traditional facial peel will not be as effective. And unlike the face, which has a cell turnover rate of 28 days, the skin cells on the body turn over closer to every 70 days (though lots of things can affect this number, like age, skin health, and environment). The VI Peel Body treatment was formulated specifically to treat the unique skin on your body.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Does The VI Peel Body Burn?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">The VI Peel Body treatment does not burn! You may experience slight warmness and tingling in the beginning, but this should quickly subside. Besides the warmness and tingling, VI Peel Body treatments are virtually painless.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I Get My Whole Body Treated At Once?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">There is a limit to how many body parts you can get treated at once, and your healthcare provider will be able to go over the details with you. Typically, we recommend only treating (1) large part of your body at once (think: buttocks, abdomen, shoulders, full arms, lower legs, upper legs, and chest), (2) small parts of your body at once (think: decolette, upper arms, underarms, lower arms, bikini, hands, knees, feet, elbows, and lower back), or (1) small part of your body and your face/neck at once. If you’d like to get multiple parts of your body treated, consult with your healthcare practitioner; you will likely need to separate the treatments into multiple sessions at least 48 hours apart.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Long Does It Take To See Peeling & Results For The VI Peel Body?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">You can expect to start peeling with the VI Peel Body Treatment around days 5-7, with full results in as little as 10 days. If this is your first VI Peel Body Treatment, it is also normal to start peeling a little later and peel for a longer period of time.</p>
      </div>

      <h1>VI Peel Body Post Peel Care FAQs</h1>
      
      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I Work Out After A VI Peel Body Treatment?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">You should refrain from exercising for until you start peeling, which is typically around the 5-7 day mark, to prevent any blistering in the skin or Post Inflammatory Hyperpigmentation (PIH). If prone to PIH or have severe pigment damage/melasma, it is suggested to refrain for the entire 10-14 day peeling process as not to induce heat or inflammation in the skin (which can lead to further damage).</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What’s The Purpose Of The Retinoic Serum In My Aftercare Kit? Do I Really Need To Use It?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes! Not only does the retinoic serum provide more acne, pigment and age fighting benefits, it is also designed help speed up the cell turnover process, helping your skin to peel faster and peel more, maximizing the results you may get from the VI Peel Body. Because the retinoic serum helps your skin peel faster, it is also helping to minimize your downtime, speeding up the time from peel application to glowing skin results. If you skip the retinoic serum, your peeling process may be prolonged or minimized.</p>
      </div>

    </div>

    <div class="faq-block">

      <h1>VI Peel Body Peeling FAQs</h1>
      
      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I Peel The Skin That Is Hanging During The Peel Process?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Do not pull back on the skin that is shedding. It is recommended to use a clean, small cuticle scissor to trim the exfoliating skin. You can also wash the face very gently to help remove the hanging skin but be sure to not rub excessively. If washing the affected area multiple times a day, be sure to add moisture back to the skin by applying the Post Treatment Repair Cream (or Aquaphor if very dry). Don’t forget to use the VI Derm SPF 50+ to protect the skin during and after the exfoliation process.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Why Am I Not Peeling? Is This Normal?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">There are many reasons why you may not see the peeling. Even if you can’t see something with the naked eye, the VI Peel is still working for you and exfoliating at the cellular level to brighten and improve your skin’s appearance. If you have further questions or concerns, we highly recommend you return to your Practitioner.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Long Will I Peel?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">In general, you can expect to start peeling on or around day 5-7 and peel for about four to five days afterward. Each person’s peeling experience is a little different, and some may peel for more or fewer days, depending on the condition of the skin. If this is your first VI Peel Body treatment, it’s also normal to start peeling a little later, and peel for a longer period of time.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">When Will I Start Peeling?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Everyone’s skin is different, but in general, you can expect to start peeling on or around day 5-7 and peel for about four to five days afterward. Each person’s peeling experience is a little different, and some may peel for more or fewer days, depending on the condition of the skin. If this is your first VI Peel, it’s also normal to start peeling a little later and peel for a longer period of time.</p>
      </div>

      <h1>VI Peel Body Peeling FAQs</h1>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I Peel The Skin That Is Hanging During The Peel Process?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Do not pull back on the skin that is shedding. It is recommended to use a clean, small cuticle scissor to trim the exfoliating skin. You can also wash the face very gently to help remove the hanging skin but be sure to not rub excessively. If washing the affected area multiple times a day, be sure to add moisture back to the skin by applying the Post Treatment Repair Cream (or Aquaphor if very dry). Don’t forget to use the VI Derm SPF 50+ to protect the skin during and after the exfoliation process.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Why Am I Not Peeling? Is This Normal?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">There are many reasons why you may not see the peeling. Even if you can’t see something with the naked eye, the VI Peel is still working for you and exfoliating at the cellular level to brighten and improve your skin’s appearance. If you have further questions or concerns, we highly recommend you return to your Practitioner.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Long Will I Peel?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">In general, you can expect to start peeling on or around day 5-7 and peel for about four to five days afterward. Each person’s peeling experience is a little different, and some may peel for more or fewer days, depending on the condition of the skin. If this is your first VI Peel Body treatment, it’s also normal to start peeling a little later, and peel for a longer period of time.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">When Will I Start Peeling?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Everyone’s skin is different, but in general, you can expect to start peeling on or around day 5-7 and peel for about four to five days afterward. Each person’s peeling experience is a little different, and some may peel for more or fewer days, depending on the condition of the skin. If this is your first VI Peel, it’s also normal to start peeling a little later and peel for a longer period of time.</p>
      </div>

      <h1>VI Peel Body Post Effect FAQ</h1>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Can I Do About Redness, Dryness, Or Chapped Skin?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Redness and dryness are signs that your skin needs a gentle and soothing moisturizer or balm. In addition to the Post Treatment Repair Cream, you can also include Aquaphor to help heal the irritated skin. Aquaphor is a barrier ointment and does not replace the need for the Post Treatment Repair Cream. It is always best to contact your practitioner and allow them to assess your skin needs.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">I’m Experiencing Severe Itching! What Should I Do?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Some itching during the peeling process is completely normal, and some may experience greater itchiness than others, particularly in the evening. This is also normal. Itchiness is also typically seen more frequently in dry or mature skin types. When itchiness occurs, apply a thin layer of the Post Treatment Repair Cream provided in your Aftercare Kit as needed. If you feel the Post Treatment Repair Cream is not helping, consult your practitioner. They may recommend you upgrade to a stronger hydrocortisone cream, which requires a prescription.<br><br>

          It’s also best to wear baggy or loose-fitting clothing to avoid friction on the treated area</p>
      </div>
      
    </div>

    
  </div>
</div>

<div class="faq-contact">
  <div class="faq-contact-cont">
    <div class="t-box">
      <h3>Need more help?</h3>
      <p>Call, text, email, or DM us for additional assistance.</p>
    </div>
    <div class="contact-icons">
      <div class="contact-icon">
        <a href="tel:18558473357"><img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/VI-Phone-Icon-green2.jpg?v=1689101083"></a>
        <span class="contact-text"><a href="tel:18558473357">Call: 1-855-847-3357</a></span>
      </div>

      <div class="contact-icon">
        <a href="tel:13105871910"><img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/VI-sms-Icon-green2.jpg?v=1689101083"></a>
        <span class="contact-text"><a href="tel:13105871910">Call Us at: 1-310-587-1910</a></span>
      </div>

      <div class="contact-icon">
        <a href="mailto:support@vipeel.com"><img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/VI-email-Icon-green2.jpg?v=1689101083"></a>
        <span class="contact-text"><a href="mailto:support@vipeel.com">Email: support@vipeel.com</a></span>
      </div>
    </div>
  </div>
</div>


<div class="faq-social-section">
  <div class="faq-social-cont">
    <a href="https://www.facebook.com/VIPEEL/" class="faq-social">
      <i class="fa-brands fa-facebook faq-social-icon"></i>
      <span class="faq-social-text">Facebok</span>
    </a>
    <a href="https://www.instagram.com/vipeel/" class="faq-social">
      <i class="fa-brands fa-instagram faq-social-icon"></i>
      <span class="faq-social-text">Instagram</span>
    </a>
    <a href="https://www.tiktok.com/@vipeel" class="faq-social">
      <i class="fa-brands fa-tiktok faq-social-icon"></i>
      <span class="faq-social-text">TikTok</span>
    </a>
  </div>
</div>


<script>
  let faqTitle = document.querySelectorAll('.faq-title');
  let faqText = document.querySelectorAll('.faq-text');
  let faqButton = document.querySelectorAll('.faq-button');

  const faqClick = (n) => {
    if (faqText[n].style.maxHeight == '0px') {
      faqText[n].style.maxHeight = '9999px';
      faqText[n].style.padding = '20px 15px';
      faqButton[n].style.transform = 'rotate(45deg)';
    }

    else {
      faqText[n].style.maxHeight = '0px';
      faqText[n].style.padding = '0px';
      faqButton[n].style.transform = 'rotate(0deg)';
    }

  };

  faqTitle.forEach((btn, index) => {//
  btn.addEventListener("click", function(e) {
    console.log(index);
    faqClick(index);
  });
})


</script>

