<style>
  #shopify-section-footer-testimonials {display:none !important;}
  #shopify-section-footer-faq {display:none !important;}
  .giveaway-cont {padding:40px 0;}

  </style>
<div class="giveaway-cont">
<div class="klaviyo-form-XPdf3L"></div>
<div class="klaviyo-form-Ybawst"></div>

</div>