<style>
    #shopify-section-footer-testimonials {display:none !important;}
    #shopify-section-footer-faq {display:none !important;}

  .opt-wrap {max-width:1000px; margin: 0 auto; text-align:center; padding:12rem 0;}

  .opt-wrap h1 {font-size:4rem; font-family:'lust'; color: #115e67;}
  .opt-wrap p {font-size: 1.2rem;}

  @media only screen and (max-width:700px){
    .opt-wrap {max-width:1000px; margin: 0 auto; text-align:center; padding:10rem 1rem;}

  .opt-wrap h1 {font-size:2rem; font-family:'lust'; color: #115e67;}
  .opt-wrap p {font-size: 1rem;}
  }
</style>

<div class="opt-wrap">
  <h1>You have been opted-out of Mother's Day emails.</h1
  <p>We empathize with you, and your email address will be excluded from receiving all Mother’s Day messaging. You will still receive all regular VI Derm and VI Peel content.</p>
</div>

