<style>
#section-announcement {display:none !important;}
#shopify-section-footer-testimonials {display:none !important;}
#shopify-section-footer-faq {display:none !important;}

.mobile {display:none;}

.provider-hero {width:100%; height: 42vw; position:relative; background-image: url('https://cdn.shopify.com/s/files/1/0064/3003/1908/files/VI-LeadWebpage-Hero.jpg?v=1671629087'); background-size:cover;}
.provider-hero .t-box {width:36%; position: absolute; left:8%; top:12%;}
.provider-hero .t-box h1 {font-family: 'gotham-bold'; font-size:5vw; line-height:5vw; margin-bottom:2vw; color:white;}
.provider-hero .t-box h2 {font-family: 'gotham-bold'; font-size:1.6vw; line-height:2vw; color:white; margin-bottom:2vw;}
.provider-hero .t-box a {
    display: block;
    text-align: center;
    font-size: 1.2vw;
    font-family: 'gotham-book';
    color: white;
    background-color:#035c65;
    padding: 0.5vw 0;
    border: 0.2vw solid #035c65;
    border-radius: 99vw;
    margin: 0 auto 4vw 0;
    width: 100%;
    transition: .2s;
}
.provider-hero .t-box a:hover {color:white; background-color:#F58C8D; border: 0.2vw solid #F58C8D;}

.provider-hero .t-box2 {width:26%; position: absolute; left:8%; top:76%;}
.provider-hero .t-box2 p {font-family: 'gotham-book'; font-size: 1vw; line-height: 1.4vw; color: white;}

.register-wrap {background-color: #035C65; width:100%; padding: 4vw 0;}
.register-wrap h1 {text-align:center; font-family:'gotham-bold'; color:white; font-size: 1.8vw; margin-bottom: 3vw;}
  
.icon-wrap {width:80%; margin: 0 auto; display:flex; align-content: flex-start; justify-content: space-between;}
.icon-box {width:18%; text-align:center;}
.icon-box img {width: 60%;}
.icon-box h3 {color:#F58C8D; font-size: 2vw; font-family:'gotham-bold'; margin-bottom:.5vw;}
.icon-box p {color:white; font-size: 1vw; font-family:'gotham-book'; line-height:1.4vw;}

.final-message {text-align:center; font-family:'gotham-book'; color:#035C65; font-size:1.2vw; padding: 2vw 0; margin:0;}
.final-message a {font-family:'gotham-bold'; color:#F78C8C;}


@media only screen and (max-width:900px){
  .mobile {display:block;}

  .provider-hero {width:100%; height:auto; background-image: none; background-color:white;}
  .provider-hero .t-box {width:80%; position: static; margin: 0 auto; padding: 8vw 0;}
  .provider-hero .t-box h1 {font-size:11vw; line-height:12vw; margin-bottom:4vw; color:#035C65;}
  .provider-hero .t-box h2 {font-size:4vw; line-height:6vw; margin-bottom:6vw; color:#035C65;}
  .provider-hero .t-box a {
    display: block;
    text-align: center;
    font-size: 4.5vw;
    line-height: 6vw;
    font-family: 'gotham-book';
    color: white;
    background-color: #035c65;
    padding: 0.5vw 3vw;
    border: 2vw solid #035c65;
    border-radius: 99vw;
    margin: 0 auto 4vw 0;
    width: 100%;
    transition: .2s;
  }

  .provider-hero .t-box2 {width:80%; position: static; margin: 0 auto; padding: 0vw 0 20vw 0;}
  .provider-hero .t-box2 p {font-size: 3vw; line-height: 4vw; color:#035C65;}

  .register-wrap {padding: 12vw 0;}
  .register-wrap h1 {color: white; font-size: 6vw; width: 90%; margin: 0 auto 6vw auto;}
  
  .register-wrap a {
    display: block;
    text-align: center;
    font-size: 5vw;
    font-family: 'gotham-book';
    color: #F58C8D;
    padding: 2vw 0;
    border: 0.5vw solid #F58C8D;
    border-radius: 99vw;
    margin: 0 auto 8vw auto;
    width: 80vw;
    transition: .2s;
  }

  .icon-wrap {flex-wrap: wrap;}
  .icon-box {width:100%;}

  .icon-box h3 {font-size: 8vw; margin-bottom: 2vw;}
  .icon-box p {font-size: 5vw; line-height: 6vw; margin-bottom: 8vw;}

  .final-message {font-size: 5vw; padding: 8vw 0; margin: 0;}
  
}

@media only screen and (max-width:640px){
  main#main {padding-top: 0px !important;}
}
  
</style>

<div class="provider-hero">
  <img class="mobile" src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/VI-LeadWebpage-Hero-Mobile.jpg?v=1671631100">
  <div class="t-box">
    <h1>WE ARE <br>SO EXCITED!</h1>
    <h2>Thank you for your interest in VI Peel Professional Treatments and VI Derm Clinical Skincare for your practice. </h2>
    <a href="https://4098721.extforms.netsuite.com/app/site/crm/externalleadpage.nl/compid.4098721/.f?formid=5&h=AAFdikaIkun-rpyaiQrcWop2UDwy6AIHHeo4PDKPgH2ND3wR_O4&redirect_count=1&did_javascript_redirect=T">Click HERE to Complete Our New Account Application</a>
  </div>

  <div class="t-box2">
    <p>*Of note, you must have a licenced medical director to qualify (MD, DO, PA, RN, NP).</p>
  </div>
</div>

<div class="register-wrap">
  <h1>Join the VI team and enjoy first rate support!</h1>
  <div class="icon-wrap">

    <div class="icon-box">
      <img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/VI-LeadWebpage-Icon-1.jpg?v=1671629087" alt="graduation cap">
      <h3>DOWNLOAD</h3>
      <p>Professional resources and marketing materials</p>
    </div>

    <div class="icon-box">
      <img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/VI-LeadWebpage-Icon-2.jpg?v=1671629087" alt="Shoipping Cart">
      <h3>PLACE</h3>
      <p>An order for your practice 24/7</p>
    </div>

    <div class="icon-box">
      <img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/VI-LeadWebpage-Icon-3.jpg?v=1671629087" alt="handshake">
      <h3>ON-DEMAND</h3>
      <p>And In-Person training for you and your team</p>
    </div>

    <div class="icon-box">
      <img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/VI-LeadWebpage-Icon-4.jpg?v=1671629087" alt="Diamond">
      <h3>GENEROUS</h3>
      <p>Rewards & Recognition Programs</p>
    </div>
    
  </div>
    
  </div>
</div>

<h4 class="final-message">To learn more about the Vitality Institute click <a href="/pages/about">HERE</a></h4>





