{{ 'tox.css' | asset_url | stylesheet_tag }} 

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.w3-black, .w3-hover-black:hover {
    color: #fff!important;
    background-color: #115c64!important;
    font-size: 1.5em;
}
  .tt-breadcrumb {
    display: none;
}
</style>
<div class="tox-space"></div>
<div class="tox-contain">
  
  <div class="tox-block-1">
    
    <div class="tox-block-left desktop">
      
    <div class="tox-text" style="text-align: center;"></div>
      <div class="tox-header-super">Discover The</div>      
      <div class="toximg"><img class="toximg" src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/Asset_1.png?v=1617225552" alt="" /></div>      
      <div class="tox-header">Treatment</div>      
      <div class="tox-text">– a combined, same-day treatment that involves the safe and painless VI Peel in conjunction with a Neurotoxin injectable to enhance and extend beneficial results.</div>
      <div class="tox-hr"></div>
       
    </div>
      <div class="tox-block-left mobile">
     <div class="tox-hr"></div> 
    <div class="tox-text" style="text-align: center;"></div>
      <div class="tox-header-super">Discover The</div>      
      <div class=""><img class="toximg-logo" src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/Asset_1.png?v=1617225552" alt="" /></div>      
      <div class="tox-header" style="text-align: right;">Treatment</div>      
      <div class="tox-text">– a combined, same-day treatment that involves the safe and painless VI Peel in conjunction with a Neurotoxin injectable to enhance and extend beneficial results.</div>
      <div class="tox-hr"></div>  
       
    </div>
    <div class="tox-block-right desktop">
      <div class="tox-image"> <img class="toximg" src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/tox-treatment.jpg?v=1617229476" alt="" /> </div>
    </div>
    
  </div>
  <div class="tox-whitebg tox-text">
    Get even more benefits from your regular Neurotoxin  appointment when you add a same-day VI Peel service for a total skin transformation!
  </div>
  <div class="mobile"> <img class="toximg" src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/tox-treatment.jpg?v=1617229476" alt="" /> </div>

  <div class="tox-hr"></div>
  <div class="tox-whitebg">
    
<img class="toximg desktop" src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/toxboosterhero.jpg?v=1617225170" alt="" />
<img class="toximg mobile" src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/toximg-mobile.jpg?v=1617227904" alt="" />    
  </div>
</div>  
<div class="tox-greenbg" style="text-align: center;">With <strong>Neurotoxins</strong> being best known for softening fine lines and wrinkles, the Vitality Institute found that the&nbsp;<br>
<em><strong>anti-aging benefits of injections can be amplified by adding a VI Peel treatment prior to injection.</strong></em></div>
 
<div class="tox-contain">  
<div class="tox-whitebg tox-text" style="text-align: center;">You already know the VI Peel treats acne, melasma, aging, hyperpigmentation and scarring, while increasing cell turnover and stimulating collagen production for long-lasting results. Following the VI Peel with a Neurotoxin injection in one, simple procedure not only helps
<p class="tox-callout"><strong>soften and smooth fine lines and wrinkles<br> but creates a smooth, even skin texture</strong></p></div>

<div class="tox-whitebg tox-text-wide mobile" style="text-align: center;">You already know the VI Peel treats acne, melasma, aging, hyperpigmentation and scarring, while increasing cell turnover and stimulating collagen production for long-lasting results. Following the VI Peel with a Neurotoxin injection in one, simple procedure not only helps<br />
<span style="font-size:1.4em; line-height: 1em;"><strong><em>soften and smooth fine lines and wrinkles<br> but creates a smooth, even skin texture</em></strong></span></div>
 </div>
<div class="tox-greenbg" style="text-align: center;">The result?&nbsp;<br />
<em><strong>In seven days, the maximum benefits of the<br />
injections and the post-peel <span style="font-size:1.3em; line-height:.1em;">ToxBooster<span style="font-size:.4em; font-weight: 300; vertical-align: super;">&trade;</span></span><br />
Treatments are realized.</strong></em></div>
 <div class="tox-contain">  
<div class="tox-whitebg tox-text-wide" style="text-align: center;">Click here to find an authorized VI Peel practitioner near you and ask for your ToxBooster™ Treatment! Or visit your favorite Neurotoxin provider and tell them you want the total skin package and a VI Peel prior to your injection service.</div>
</div>    
<div class="tox-contain desktop">
<p style="text-align: center;"><a href="https://vipeel.com/pages/sca-store-locator"><button class="w3-button w3-black w3-round-xxlarge">Book your ToxBooster™ Treatment today!</button></a></p>
</div>  

<div class="tox-contain mobile">
<p style="text-align: center;"><a href="https://vipeel.com/pages/sca-store-locator"><button class="w3-button w3-black w3-round-xxlarge">Book your ToxBooster™ <br>Treatment today!</button></a></p>
</div>  
 
    