<style>
#section-announcement {display:none !important;}
#shopify-section-footer-testimonials {display:none !important;}
#shopify-section-footer-faq {display:none !important;}

.pro-login-section {width:100%; height: 50vw; background-image:url('https://cdn.shopify.com/s/files/1/0064/3003/1908/files/pro-login-hero.jpg?v=1671060042'); background-size:cover; position:relative;}
.pro-login-section .t-box {width:50%; position:absolute; left:5%; top:14%; text-align:center;}
.pro-login-section .t-box h1 {font-family:'gotham-bold'; color:white; font-size: 2.4vw; line-height: 3vw; margin-bottom:4vw;}
.pro-login-section .t-box p {font-family:'gotham-bold'; color:white; font-size: 1.4vw; line-height: 2.2vw;}
.pro-login-section .t-box h2 {font-family:'gotham-light'; color:#F58C8D; font-size: 5vw;}

@media only screen and (max-width:640px){
  main#main {padding-top: 0px !important;}
}

@media only screen and (max-width:900px){
  .pro-login-section {width:100%; height:217vw; background-image:url('https://cdn.shopify.com/s/files/1/0064/3003/1908/files/pro-login-hero-mobile.jpg?v=1671061830'); background-size:cover;}
  .pro-login-section .t-box {width:90%; position:static; margin: 0 auto 0 auto; padding-top: 6vw;}
  .pro-login-section .t-box h1 {font-size:5.5vw; line-height: 7vw; margin-bottom:4vw;}
  .pro-login-section .t-box p {font-size: 3.5vw; line-height: 5vw; margin-bottom: 8vw;}
  .pro-login-section .t-box h2 {font-size: 10vw; line-height: 11vw; margin-bottom:4vw;}
}
  
</style>

<div class="pro-login-section">
  <div class="t-box">
    <h1>Thank you for being a valuable<br>Vitality Institute partner!</h1>
    <p>Type the URL below into your browser to access your Professional Account, place an order, or download assets from our Business Center</p>
    <h2>pro.vipeel.com</h2>
  </div>
</div>