<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/877548edf5.js" crossorigin="anonymous"></script>

<style>
  #shopify-section-footer-testimonials {display:none !important;}
  #shopify-section-footer-faq {display:none !important;}
  
  .faq-hero-section {margin-top: 3rem;}
  .faq-hero-cont {max-width:1300px; height: 28vw; max-height: 420px; margin: 0 auto; position:relative; background-image: url('https://cdn.shopify.com/s/files/1/0064/3003/1908/files/FAQ-Hero.jpg?v=1687542803'); background-size: cover;}
  .faq-hero-cont .t-box {position:absolute; left:5%; top:30%;}
  .faq-hero-cont .t-box h1 {font-size:3rem; font-family:'gotham-bold'; color:#115e67; margin-bottom:.5rem; line-height:2.5rem;}
  .faq-hero-cont .t-box h2 {font-size:1.5rem; font-family:'gotham-bold'; color:#115e67; margin-bottom:2rem;}
  .faq-hero-cont .t-box h2:hover {color: #FF8E9F;}

  .faq-section {margin: 0 0 5rem 0;}
  .faq-cont {display:flex; flex-wrap: wrap; justify-content:space-between; width:100%; max-width: 1300px; margin: 0 auto;}
  .faq-block {width:48%;}
  .faq-block h1 {font-size:1.5rem; padding-left:15px; margin-top:3rem;}
  .faq {}
  .faq-title {display:flex; justify-content: space-between; background-color: #f2f8f7; padding: 10px 15px; position:relative;}
  .faq-headline {width:90%; font-weight:700; color: #115e67;}
  .faq-headline:hover {text-decoration: underline;}
  .faq i {width:10%; text-align:center; display:block; color: #115e67; font-size:1.2rem; position: absolute; right:0; top:20%;}
  .faq p {overflow: hidden; padding: 0px;}
  .faq p a {color: #FF8E9F;}
  .faq p a:hover {color:#115e67;}
  .negative-indent {margin-left: 40px; text-indent: -40px;}

  .faq-contact {padding: 2rem 0 5rem 0;}
  .faq-contact-cont {text-align:center;}
  .faq-contact-cont .t-box {margin-bottom: 3rem;}
  .faq-contact-cont .t-box h3 {font-family: 'lust'; color: #115e67; font-size: 2rem; margin: 0 0 0 0;}
  .faq-contact-cont .t-box p {}
  .contact-icons {display:flex; justify-content:space-between; flex-wrap: wrap; max-width:800px; margin: 0 auto;}
  .contact-icon {width:32%; text-align:center;}
  .contact-icon img {width: 40%; margin: 0 auto 0.5rem auto; display:block;}
  .contact-text {display:block;}

  .faq-social-section {}
  .faq-social-cont {max-width:600px; margin:0 auto 5rem auto; justify-content: space-between; display:flex; }
  .faq-social {width:30%; text-align:center;}
  .faq-social-icon {color: #115e67; display:block; font-size: 3rem; margin-bottom: 0.5rem;}
  .faq-social-text {}
  
  @media only screen and (max-width:1000px){
    .faq-hero-cont {max-width:1300px; height: 37vw; max-height: 420px; margin: 0 auto;}
  }

  @media only screen and (max-width:900px){
    .faq-hero-section {margin-top: 0rem;}
    .faq-hero-cont {background-image: url('https://cdn.shopify.com/s/files/1/0064/3003/1908/files/FAQ-Mobile-Hero.jpg?v=1687542804'); background-size:cover; height:144vw; max-height:none;}
    .faq-hero-cont .t-box {left: 13%; top: 84%; text-align: center;}
    .faq-hero-cont .t-box h1 {font-size:10.5vw; font-family:'gotham-bold'; color:white; margin-bottom:0rem; line-height:10.5vw;}
    .faq-hero-cont .t-box h2 {font-size:5.5vw; font-family:'gotham-bold'; color:white; margin-bottom:.5rem;}
    .query {height:2rem;}
    

    .faq-block {width:90%; margin: 0 auto;}

    .faq-contact-cont .t-box {padding: 0 15px;}
    .contact-icons {justify-content: space-around;}
    .contact-icon {width:80%; text-align:center; margin-bottom:2rem;}
    .contact-icon img {width: 40%; margin: 0 auto 0.5rem auto; display:block;}
    .contact-text {display:block;}
    
</style>

<div class="faq-hero-section">
  <div class="faq-hero-cont">
    <div class="t-box">
      <h1>VI Derm FAQs</h1>
      <h2><a href="https://vipeel.com/pages/faq"><i class="fa-solid fa-circle-arrow-left"></i> Click here to go back</a></h2>
    </div>
  </div>
</div>

<div class="faq-section">
  <div class="faq-cont">

    <div class="faq-block">
      <h1>General VI Derm FAQs</h1>
      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Where Can I Purchase Your Prescription Products, Like The Retinoic Serum Or Skin Lightening Complex With 4% Hydroquinone?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">To purchase our VI Derm prescription products, visit our practice finder to book an appointment with one of our trusted practitioners. Simply check “VI Derm Skincare” under the filter location section to find a provider that carries VI Derm near you.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I Return Your Product?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">If you are not satisfied with your purchase, you can return any product purchased on vipeel.com within 30 days of purchase. Click here to view our full return policy. We do not accept returns from partner sites or practitioner offices.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">I Found Your Products On Amazon. Are These Authentic?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;"> We do offer VI Derm products for sale on Amazon, however, please ensure you are only purchasing from the listings in our official Amazon Storefront, found here. Any other products listed elsewhere are not authorized by Vitality Institute and may be fraudulent or unsafe for use. </p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Do You Have Any Promotional Codes I Can Use To Get A Discount On VI Derm Products?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes! The Vitality Institute offers promotions periodically. Sign up for our email and SMS to get more info. To sign up, scroll to the bottom of our website and enter your email into the section labeled “Sign up for our Newsletter”</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Are Your Products Natural Or Organic?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">All VI Derm products are of clinical grade and formulated to be effective and proven to work. With this, we do utilize ingredients that are not of natural or organic origin.<br><br>
          The use of the word “chemical” has gotten a bad rap lately. However, just because something is chemical does not mean that it is dangerous or harmful. Everything is composed of chemicals – even water and air – and most chemicals you encounter each day are safe and harmless. Sometimes, the non-natural ingredients we use are much more effective and have been studied more extensively than their non-natural counter parts and are therefore safer to use. We only use ingredients that have been proven to work and have been proven to be safe in clinical studies.<br><br>
          In addition, the word organic simply means that the substance does not contain the element carbon. Although the term has become synonymous with safe or natural because of its association with living things, not all organic substances are natural, safe, or healthy.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What If My VI Derm Beauty Product Doesn't Pump And Dispense The Product?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">To preserve the potency and efficacy of our VI Derm products, we use bottles with an airless pump mechanism. This means that these bottles do not have a dip tube or straw. This airless pump design is also more hygienic and ensures consistent application by dispensing your product in measured amounts with each use while keeping your products fresher for longer.<br><br>
          With that, it may take more pumps than expected to start dispensing for the very first use; between 15-20 pumps, or possibly more, to get the product moving.<br><br>
          <strong>If the product is not dispensing after this, we recommend “priming the pump.”</strong> Please do not open the bottle since this can disrupt the airless pump system. To prime the pump, place the cap back on the bottle, hold it upside-down, and gently tap the top against a flat surface. This should spur the product into the usual dispensing action.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Do You Guarantee Your Products?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">VI Peel and VI Derm skin care products are guaranteed only when purchased through an authorized retailer or practitioner. All VI Peel products may only be purchased and administered by a licensed healthcare professional. Products not purchased through an authorized retailer or performed by a licensed healthcare professional can be counterfeit, diluted formulas, or old, expired formulas that may not be safe to use. This means if you buy our products from an outlet other than our authorized partners, we cannot guarantee that products are authentic or that they will perform as tested. To ensure your products are authentic and of high quality, please purchase only through an authorized source.<br><br>   
          To find an authorized VI Practitioner please visit our authorized practitioner locator at <a href="https://vipeel.com/pages/sca-store-locator">https://vipeel.com/pages/sca-store-locator</a>.<br><br>
          Our mission is to provide innovative, non-invasive aesthetic solutions to our professional medical partners and their patients. We support all efforts to remove professional products from consumer websites.  Diversion information can be communicated to Vitality Institute by contacting us at 1.855.VI.Peels or by emailing <a href="mailto:support@vipeel.com">support@vipeel.com</a>.<br><br>
          The following online retailers have no relationship with the Vitality Institute and are some of the online sites that are NOT authorized retailers of Vitality Institute products. We cannot vouch for the authenticity or condition of the products they sell, and we are not responsible for products purchased from these websites:<br><br>
          <a href="http://www.skincaresolutionsstore.com/">www.Skincaresolutionsstore.com</a>, <a href="http://www.skincareandpeels.com/">www.Skincareandpeels.com</a>, <a href="http://www.beautylandonline.com/">www.beautylandonline.com</a>, <a href="http://www.ebay.com/">www.Ebay.com</a></p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Are Your Products Paraben Free?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes, all VI Derm products are paraben free. We have value your concerns and have taken all efforts to remove parabens from our product.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I Use Your Products If I Have Chronic Medical Problems?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">To assure best outcomes, we suggest consulting with your physician prior to beginning any advanced skin care routine.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Long Will My VI Derm Products Last?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">VI Derm products have a shelf-life of 2 years. For those that contain active ingredients you will find a expiration date located on the bottom of the bottle.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">My Product Had A Change In Color And/Or Smell, Is That Normal?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">You may notice from time to time that the color or scent of your product varies. This is completely normal and the direct result of not using artificial coloring agents or fragrances. The exception to this is if the product is used beyond the marked expiration date stamped on the container. The expiration date confirms that the product you are using is guaranteed effective for the time frame indicated, and is best replaced after that.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Order Do I Apply Your Products?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">After proper cleansing, we recommend applying skin care products in the following manner. First serums, then concentrates, moisturizers and finally sunscreen.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Are Your Products Cruelty Free?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes, all VI Derm products are cruelty free. We do not believe in animal testing and choose to partner with suppliers who share our beliefs.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Which VI Derm Products Are Safe During Pregnancy Or Breastfeeding?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">We recommend that pregnant or breastfeeding women always consult with their healthcare provider before using any products. There are suggestions in the FDA guidelines that certain ingredients should be avoided including hydroquinone, salicylic acid, retinoids and chemical sunscreens. The following VI Derm products do not contain any ingredients that are not suitable during pregnancy or breastfeeding and may be an option for you to discuss with your physician: Vitamin C Brightening Concentrate, VI Derm Purifying Cleanser.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How long will it take to go through my VI Derm products?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Your VI Derm products can last anywhere from 2-4 months depending on the product, if used as directed.  </p>
      </div>
      
    </div>
    
    <div class="faq-block">
      <!-- <h1>Mineral Sheer SPF 50 FAQs</h1>
      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Every Mineral I’ve Tried Gives Me A White Cast. How Do You Make Yours Work?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">To create our superior Mineral formula, we boosted the lower levels of Zinc and Titanium Dioxide with a chain of copolymers plus Vitamin E. All the SPF protection but without the white cast!</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Will The VI Derm Mineral Sheer SPF 50 Break Me Out?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">The VI Derm Mineral Sheer SPF 50 has been formulated to prevent the breakouts that are typically experienced with sunscreens. Although it is still possible, our VI Derm Mineral Sheer SPF 50 works wonderfully on most people who are acne-prone.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I Use The VI Derm Mineral Sheer SPF 50 On Children?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes, the VI Derm Mineral Sheer SPF 50 can be used on children over the age of 6 months. We recommend you speak with your healthcare provider if you have additional questions.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Often Do I Need To Reapply The VI Derm Mineral Sheer SPF 50?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">As with all sunscreens, we recommend reapplying every two hours if you are outdoors in direct sunlight. If you are indoors, reapply every four to six hours, especially if you are near a window</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Much VI Derm Mineral Sheer SPF 50 Do I Need To Apply?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">For full face, apply half a teaspoon amount (or approximately half the length of a finger).  For full face and neck, apply a teaspoon amount (or a full finger length).</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Are The Key Ingredients In The VI Derm Mineral Sheer SPF 50?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Titanium Dioxide, Zinc, Vitamin E, and Triglycerides</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Will The VI Derm Mineral Sheer SPF 50 Give Me A White Cast?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Since our inception, inclusivity has been, and continues to be at the core of what we do. This goes for all VI Derm skincare products developed here at the Vitality Institute. Our VI Derm Mineral Sheer SPF 50 was formulated specifically with darker skin tones in mind. This pillowy, practically weightless texture contains zero added tints and blends seamlessly on ALL skin tones. </p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Do I Still Need SPF On Rainy, Overcast Days?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">We get this question a lot, and the answer is yes. Gray skies do not equate to skipping the SPF skincare step. Why? Because the sun rises every day and brings its UV rays along for the ride. According to the World Health Organization, up to 80 percent of UV rays can penetrate through clouds, strike your skin, and trigger premature aging. To keep photoaging and signs of premature aging like fine lines, wrinkles, hyperpigmentation, and post-inflammatory inflammation away, sunscreen – whether mineral or chemical – is a daily must no matter the weather. Remember: UV rays are strong enough to penetrate windows made of glass—meaning it can surely penetrate clouds that are made of water drops.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Are Chemical Sunscreens Bad For My Skin?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Absolutely not! The skincare industry’s distain on chemical ingredients and labeling them as “harmful” or “bad” – is incredibly misleading. While the word “chemical” may stoke thoughts of toxins and hazardous, consider this: Everything is a chemical. Water, salt, and that invisible stuff you’re breathing right now are chemicals our bodies need to function properly and stay alive. On the flip side, many minerals can be deadly (asbestos, anyone?) and many plants are toxic (hello, poison ivy). The deception that “natural” is synonymous with “safe” is encouraging cosmetic chemists and dermatologists to speak out against so-called “clean beauty” and “natural is better” claims. BOTH chemical and mineral sunscreen ingredients are safe and effective for protecting your skin from the sun and should be used based on your different circumstances.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What’s The Difference Between Chemical And Mineral SPF?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">
          • Differences in texture and skin-feel: Mineral SPFs tend to be more mattifying and can be a bit more drying than Chemical SPFs, making it better for oily skin or those who like a matte look. Chemical SPFs, on the other hand, leave a dewier, more hydrated finish, making it better for dryer skin or those who like a dewy look.<br><br>
          • Differences in absorption: Mineral SPFs are typically known to leave a thick, white cast on darker skin tones, which is why chemical sunscreens are more popular among those with darker skin. However, we’ve developed VI Derm Mineral Sheer SPF 50 to blend seamlessly on ALL skin tones without needing a tint. Both VI Derm SPF 50 Daily UV Defense Broad Spectrum Sunscreen and VI Derm Mineral Sheer SPF 50 Broad Spectrum Sunscreen work wonderfully on any skin tone.<br><br>
          • Differences in active ingredients: Mineral and Chemical SPFs are typically distinguished by the different sunscreen filters they use. Octinoxate, avobenzone, oxybenzone, octisalate, and homosalate are common chemical sunscreen filters, while zinc oxide and titanium dioxide are the two most common active ingredients in mineral sunscreens. Both are very effective in protecting against the sun’s harmful UV rays, though the mineral SPF actives may be better for sensitive skin<br><br>
          • Differences in how they work to protect your skin: Chemical sunscreens work by absorbing and converting UVA and UVB rays (broad-spectrum defense) into heat that then releases from skin. Due to this fact, experts recommend applying chemical sunscreens 15 minutes before sun exposure. Mineral sunscreens, also known as physical sunscreens, sit on the skin and reflect UVA and UVB rays upon contact with skin, acting like a “shield.” Because they don’t need to absorb the sun’s rays, you typically don’t need to wait as long before sun exposure, making it a great option for intense sun exposure or reapplication outdoors<br><br>
          • Differences in skin type: Chemical sunscreens are great for all skin types, but especially for normal and dry skin types. Mineral sunscreens are great for more sensitive skin types, like rosacea and acne prone</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Which One Is Better, Chemical Or Mineral SPF?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">
          The best sunscreen is the one you’ll wear. Both mineral SPF and chemical SPF provide essential protection against UV rays, and each has different but unique strengths. Instead of siding with one, it’s best to have both in your arsenal, so you can have a better SPF experience for you and your skin depending on your different circumstances.<br><br>

          When to use Chemical SPF:<br>
          
          • For those who want a dewy, hydrated finish<br>
          • Ultra-Lightweight and ideal for layering under makeup<br>
          • Great for Daily, all-around use<br>
          • Great for use after professional aesthetic treatment to protect your healing skin<br><br>
          
          When to use Mineral SPF:<br>
          • For those who want a matte finish<br>
          • Ideal for use during intense sun exposure or reapplying outdoors<br>
          • Lightweight texture and is great for applying on its own<br>
          • Great for use after a professional aesthetic treatment to protect your healing skin-especially for more sensitive skin types like rosacea and acne-prone</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Is The VI Derm Mineral Sheer SPF 50 Reef Safe?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes, VI Derm Mineral Sheer SPF 50 Broad Spectrum Sunscreen is reef safe.</p>
      </div> -->


      <h1>Gentle Purifying Cleanser FAQs</h1>
      
      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Will The Gentle Purifying Cleanser Remove My Makeup?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">The Gentle Purifying Cleanser is great at removing makeup from the face. For waterproof makeup, double cleanse (first to remove the makeup, and second to cleanse the skin) or use a gentle makeup remover first.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Gentle Purifying Cleanser | How Often Can I Use The VI Derm Cleanser?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">We recommend cleansing with the VI Derm Purifying cleanser both morning and night or anytime you need to refresh your skin.</p>
      </div>
      
      
  
      
      <h1>Vitamin C Brightening Concentrate FAQs</h1>
      
      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">My Vitamin C Brightening Concentrate Is Pilling. What Should I Do?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">To ensure your Vitamin C Brightening Concentrate does not pill, allow ample time for it to dry completely before applying anything else to your face.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Makes The Vitamin C In VI Derm Vitamin C Brightening Concentrate Better Than Other Vitamin C?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Typically, many of the Vitamin C products you see on the market are made with L-ascorbic acid. While L-ascorbic acid is an amazing type of Vitamin C, it is very finicky and oxidizes quickly if not formulated and storied in optimal conditions. The Vitamin C we use is clinical strength 10% tetrahexyldecyl ascorbate, which is a Vitamin C that is much more stable and potent that the typical L-ascorbic acid. In addition, we formulate our Vitamin C Brightening Concentrate with NO water and in an airless pump, which ensures the freshest, most potent formula for much longer.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Do I Use The Vitamin C Brightening Concentrate?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Cleanse the skin thoroughly with VI Derm Gentle Purifying Cleanser. Massage one to two pumps of Vitamin C Brightening Concentrate onto the face and neck. Use AM and PM. When using with VI Derm Retinol Age-Defying Treatment Moisturizer, apply Vitamin C Brightening Concentrate AFTER Moisturizer.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Often Can I Use The Vitamin C Brightening Concentrate?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">We recommend using VI Derm Vitamin C Brightening Concentrate in the morning and in the evening.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Are The Key Ingredients In The Vitamin C Brightening Concentrate?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Our Vitamin C Brightening Concentrate includes clinical strength 10% Tetrahexyldecyl Ascorbate, the most stable and potent form of Vitamin C on the market. It is non-irritating, slow to oxidize, and able to penetrate deep into your skin.</p>
      </div>
      

      <h1>Retinol Age-Defying Treatment Moisturizer FAQs</h1>
      
      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Do I Use The Retinol Age Defying Moisturizer?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Cleanse the skin thoroughly with VI Derm Gentle Purifying Cleanser. Massage one to two pumps onto face and neck. Use AM and PM. When using with VI Derm Vitamin C Brightening Concentrate, apply Retinol Age-Defying Treatment Moisturizer BEFORE the Concentrate.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Will The Retinol Age Defying Moisturizer Irritate My Skin?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">It is normal when adding skin care products that have active ingredients for your skin to acclimate to the stimulation. It is normal to experience light irritation during the first two weeks of use.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Do I Need To Use Sunscreen With The Retinol Age-Defying Treatment Moisturizer?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes. It is highly recommended to add sunscreen with a minimum of SPF 30 to your morning routine when using any product that contains Alpha Hydroxy Acids, Beta Hydroxy Acids, or Retinols.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Often Can I Use The Retinol Age-Defying Treatment Moisturizer</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">The VI Derm Retinol Age Defying Treatment Moisturizer can be used once to twice daily. For sensitive skin, we recommend using it once daily.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Are The Key Ingredients In The Age Defying Moisturizer?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">The VI Derm Retinol Age-Defying Treatment Moisturizer contains Retinol, Glycolic Acid, Vitamin C, Azeleaic Acid, Aloe Leaf, and Vitamin E</p>
      </div>
      

    </div>

    <div class="faq-block">


      <h1>SPF 50 FAQs</h1>
      
      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Do I Use The VI Derm SPF 50?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Apply liberally 15 minutes before sun exposure. Reapply as needed or after towel drying, swimming, or sweating.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Will The VI Derm SPF 50 Sunscreen Make Me Break Out?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">The VI Derm SPF 50 Sunscreen was formulated to prevent breakouts typically experienced with sunscreens. Although it is possible, most people who are acne-prone find great relief in our product. If you have any questions or concerns, we recommend you consult with your healthcare provider.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I Use The VI Derm SPF 50 Sunscreen On Children?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Our VI Derm SPF 50 Sunscreen can be used on children over the age of 6 months.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Often Do I Need To Reapply The VI Derm SPF 50 Sunscreen?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">As with all sunscreens if you are outdoors in direct sunlight, you should reapply every two hours.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Much VI Derm SPF 50 Sunscreen Do I Need To Apply?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Apply enough to cover your entire face and neck liberally. This can equate to a nickel sized amount, or the length of a finger.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Are The Key Ingredients In The VI Derm SPF 50 Sunscreen?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">The VI Derm SPF 50 Sunscreen contains a blend of Zinc Oxide, Octinoxate, Aloe Vera, and Citrus extracts</p>
      </div>

      
      
      <h1>Dark Spot Lifting Serum FAQs</h1>
      
      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Do I Use The Dark Spot Lifting Serum?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Cleanse the skin thoroughly with VI Derm Gentle Purifying Cleanser. Apply a thin layer one to two times a day right after cleansing, and follow with moisturizer. Use sunscreen daily. We recommend VI Derm SPF 50 Daily UV Defense Broad Spectrum Sunscreen.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Do You Recommend People Start Dark Spot Lifting Serum A Month Prior To Weening Off 4% Hydroquinone To Prevent Rebound?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">What we suggest to taper down from 4% Hydroquinone<br><br>

          • If using 4% HQ twice daily, remove the AM session of HQ and add in Dark Spot Lifting Serum for 1-2 weeks. Then discontinue completely and use Dark Spot Lifting Serum twice daily.<br><br>
          • If using 4% HQ only once a day, add in Dark Spot Lifting Serum in the AM and use HQ in the PM for 1-2 weeks. Then discontinue completely and use Dark Spot Lifting Serum twice daily.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Are The Side Effects Of Dark Spot Lifting Serum?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Though side effects are rare, some patients in our clinical study reported a little dryness, but only in the first week of usage while the skin was still acclimating to the product.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I Use The Dark Spot Lifting Serum As A Spot Treatment?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Dark Spot Lifting Serum should be used over the entire face or entire body part that you are treating for pigmentation.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Skin Conditions Does The Dark Spot Lifting Serum Treat?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Dark Spot Lifting Serum is great for those who have pigmentation, including dark spots, sun damage, melasma and PIH.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Skin Type Can Use The Dark Spot Lifting Serum With 5% Tranexamic Acid?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Dark Spot Lifting Serum is safe and effective for all skin types and tones.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I Use The Dark Spot Lifting Serum With 5% Tranexamic Acid On Other Parts Of My Body?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes, it can be used on any parts of the body that you see pigmentation.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Who Should NOT Use The Dark Spot Lifting Serum?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">You should not use the Dark Spot Lifting Serum if you have allergies to any of the ingredients listed.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Will I Break Out Or Will My Skin Purge With Dark Spot Lifting Serum?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Dark Spot Lifting Serum is noncomedogenic, so the product itself should not clog pores. For skin types that typically experience breakouts or purging, the Dark Spot Lifting Serum may actually combat the accumulation of skin cells that lead to breakouts. However, you could experience mild breakouts and purging when first acclimating your skin to the product.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Long Will It Take To See Results With Dark Spot Lifting Serum?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Results will vary depending on skin condition and skin type, but we have seen great results in our clinical study patients within 30 days.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Do I Need To Use Sunscreen With The Dark Spot Lifting Serum?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes, we always advise you to use an SPF 50 with reapplication every 2 hours. We recommend SPF 50 Daily UV Defense Broad Spectrum Sunscreen.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Are The Key Ingredients Of Dark Spot Lifting Serum?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">5% Tranexamic Acid, Lactic Acid & Kojic Acid.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I Use Dark Spot Lifting Serum With 5% Tranexamic Acid If I Am Already Using Hydroquinone?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Yes! When incorporating Dark Spot Lifting Serum with Hydroquinone, you can alternate use with Hydroquinone in your daily routine. So if you use Hydroquinone in the PM, use Dark Spot Lifting Serum in the AM.<br><br>
          You can also use Dark Spot Lifting Serum when you cycle off of your Hydroquinone to continue fighting, lifting and suppressing pigment when you are off of HQ. Then, when cycling back on Hydroquinone, you can alternate your HQ and Dark Spot Lifting Serum in your daily routine again.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">Can I Use The Dark Spot Lifting Serum With 5% Tranexamic Acid When Pregnant Or While Breastfeeding?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">The Dark Spot Lifting Serum is a safer alternative to Hydroquinone, but it is always best to consult with your healthcare practitioner before starting any new skin care regimen.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Makes Our Dark Spot Lifting Serum With 5% Tranexamic Acid Unique?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Our Dark Spot Lifting Serum is a non-prescription, non-hydroquinone skin brightening serum that is formulated to lift existing pigmentation, sun damage, and fight future pigmentation. It has very high patient satisfaction in our clinical and research study, with improvements seen as soon as 30 days.</p>
      </div>

    </div>

    <div class="faq-block">
      
      <h1>Post Treatment Repair Cream FAQs</h1>
      
      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">What Is The Post Treatment Repair Cream For?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">The Post Treatment Repair Cream is a soothing balm that melts into the skin to calm, comfort, and alleviate the redness, dryness, itching, and irritation that is commonly triggered by aesthetic treatments like injectables, lasers, microneedling, waxing, and chemical peels.  It helps your skin to heal quicker and better, as the cream provides the optimal environment for recovery.  It is also a calming must-have for sun exposure and sunburned skin, bug bites, and other lifestyle hazards.</p>
      </div>

      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Long Can I Use The Post Treatment Repair Cream?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">You can use the Post Treatment Repair Cream 1-2 times a day, for up to 14 days. If you feel you need the Post Treatment Cream for longer, it is advised you consult with your healthcare provider.</p>
      </div>
      
      <div class="faq">
        <div class="faq-title">
          <span class="faq-headline">How Do I Use The Post Treatment Repair Cream?</span>
          <i class="fa-solid fa-plus faq-button"></i>
        </div>
        <p class="faq-text" style="max-height: 0px;">Cleanse the skin with VI Derm Gentle Purifying Cleanser. Apply a thin layer of Post Treatment Repair Cream to the affected area 1-2 times a day, for up to 14 days.</p>
      </div>

    </div>

    

  </div>
</div>

<div class="faq-contact">
  <div class="faq-contact-cont">
    <div class="t-box">
      <h3>Need more help?</h3>
      <p>Call, text, email, or DM us for additional assistance.</p>
    </div>
    <div class="contact-icons">
      <div class="contact-icon">
        <a href="tel:18558473357"><img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/VI-Phone-Icon-green2.jpg?v=1689101083"></a>
        <span class="contact-text"><a href="tel:18558473357">Call: 1-855-847-3357</a></span>
      </div>

      <div class="contact-icon">
        <a href="tel:13105871910"><img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/VI-sms-Icon-green2.jpg?v=1689101083"></a>
        <span class="contact-text"><a href="tel:13105871910">Call Us at: 1-310-587-1910</a></span>
      </div>

      <div class="contact-icon">
        <a href="mailto:support@vipeel.com"><img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/VI-email-Icon-green2.jpg?v=1689101083"></a>
        <span class="contact-text"><a href="mailto:support@vipeel.com">Email: support@vipeel.com</a></span>
      </div>
    </div>
  </div>
</div>


<div class="faq-social-section">
  <div class="faq-social-cont">
    <a href="https://www.facebook.com/VIPEEL/" class="faq-social">
      <i class="fa-brands fa-facebook faq-social-icon"></i>
      <span class="faq-social-text">Facebok</span>
    </a>
    <a href="https://www.instagram.com/vipeel/" class="faq-social">
      <i class="fa-brands fa-instagram faq-social-icon"></i>
      <span class="faq-social-text">Instagram</span>
    </a>
    <a href="https://www.tiktok.com/@vipeel" class="faq-social">
      <i class="fa-brands fa-tiktok faq-social-icon"></i>
      <span class="faq-social-text">TikTok</span>
    </a>
  </div>
</div>


<script>
  let faqTitle = document.querySelectorAll('.faq-title');
  let faqText = document.querySelectorAll('.faq-text');
  let faqButton = document.querySelectorAll('.faq-button');

  const faqClick = (n) => {
    if (faqText[n].style.maxHeight == '0px') {
      faqText[n].style.maxHeight = '9999px';
      faqText[n].style.padding = '20px 15px';
      faqButton[n].style.transform = 'rotate(45deg)';
    }

    else {
      faqText[n].style.maxHeight = '0px';
      faqText[n].style.padding = '0px';
      faqButton[n].style.transform = 'rotate(0deg)';
    }

  };

  faqTitle.forEach((btn, index) => {//
  btn.addEventListener("click", function(e) {
    console.log(index);
    faqClick(index);
  });
})


</script>

