<!-- Begin Accordion Snippet -->
<style type="text/css">

  .int-hero {width:100%;}
.int-wrap {max-width:1200px; margin: 0 auto; padding: 4rem .5rem;}
  .int-wrap h2 {font-size:3rem; font-family: 'lust' !important; color: #125e67;}
.int-wrap a:hover {font-weight:800; color: #125e67 !important;}
  .mobile {display:none !important;}
  
.so-tab {
position: relative;
width: 100%;
overflow: hidden;
margin: 25px 0;
}
#shopify-section-footer-testimonials {display:none !important;}
.so-tab label {
position: relative;
display: block;
padding: 0 25px 0 0;
margin-bottom: 0px;
line-height: normal;
cursor: pointer;
}

label {
    text-transform: uppercase;
}

::before {
    padding-right: 10px;
}
.so-tab input {
position: absolute;
opacity: 0;
z-index: -1;
}
.so-tab-content {
max-height: 0;
overflow: hidden;
transition: max-height .35s;
}
/* :checked */
.so-tab input:checked ~ .so-tab-content {
max-height: none;
}
/* Icon */
.so-tab label::after {
position: absolute;
right: 0;
top: -20px;
display: block;
width: 3em;
height: 3em;
line-height: 3;
text-align: center;
-webkit-transition: all .35s;
-o-transition: all .35s;
transition: all .35s;
}
.so-tab input[type=checkbox] + label::before {
content: "+";
}
.so-tab input[type=radio] + label::before {
content: "\25BC";
}
.so-tab input[type=checkbox]:checked + label::before {
transform: rotate(315deg);
}
.so-tab input[type=radio]:checked + label::before {
transform: rotateX(180deg);
}

h3:not([class^="tt-title"]):not([class^="tt-collapse"]):not([class^="tt-aside"]), h2.small:not([class^="tt-title"]):not([class^="tt-collapse"]):not([class^="tt-aside"]) {
 
    padding-bottom: 0px !important;
    font-size: 24px !important;
    line-height: 20px !important;
}

  @media only screen and (max-width: 900px){

      .int-wrap h2 {font-size:1.6rem !important;}
    .mobile {display:block !important;}
    .desk {display:none !important;}
    
  }
</style>

<img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/int-dist-hero2.jpg?v=1663119505" alt="International Distributors" class="int-hero desk">
<img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/int-dist-hero.jpg?" class="int-hero mobile" alt="International Distributors">
<div class="int-wrap">
    <div>
    <h2>Vitality Institute® International Distributors</h2>
    </div>
    <div class="so-accordion-wrapper">
    <div class="so-tab"><input id="so-tab-1" name="tabs" type="checkbox" /> <label for="so-tab-1">Australia</label>
    <div class="so-tab-content"><meta charset="utf-8" />
    <h3><br />The Cosmetic Studio</h3>
    <p>Contact: Steny<br />Phone: 61 0409 882506<br />Email:<span> </span><a href="mailto:" stenysanka="">stenysanka@gmail.com</a></p>
    </div>
    </div>
    <div class="so-tab"><input id="so-tab-2" name="tabs" type="checkbox" /> <label for="so-tab-2">China</label>
    <div class="so-tab-content"><meta charset="utf-8" />
    <h3><br />Beauty 1st Medical Co., Ltd.</h3>
    <div>Building A5, No.51 East Xingang Road<br />Haizhu District, Guangzhou, China  510335<br />Contact: Mei Gao<br />Email:<span> </span><a href="mailto:Mei@vipeel.com">Mei@vipeel.com</a></div>
    </div>
    </div>
    <div class="so-tab"><input id="so-tab-4" name="tabs" type="checkbox" /> <label for="so-tab-4">Netherlands, Belgium, Luxembourg</label>
    <div class="so-tab-content"><meta charset="utf-8" />
    <h3><br />SURE Medical NV</h3>
    <p>Spinding 5 <br />5431 SN Cuijk<br>Netherlands<br />Contact: Carola van Reijmersdal<br />Phone: +31 (0)485 330 388<br />Email:<span> </span><a href="mailto:info@suremedical.nl">info@suremedical.nl</a><br />Website:<span> </span><a href="http://www.suremedical.nl">www.suremedical.nl</a></p>
    </div>
    </div>
    <div class="so-tab"><input id="so-tab-6" name="tabs" type="checkbox" /> <label for="so-tab-6">Singapore</label>
    <div class="so-tab-content">
    <h3><br />Cutis Laser Medical Clinics</h3>
    <p>9 Scotts Road, Pacific Plaza<br /> Scotts Medical Center #08-07<br />Singapore 228210<br />Phone: 65 6801 4000<br />Email:<span> </span><a href="mailto:cutis@cutislaserclinics.com">cutis@cutislaserclinics.com</a><br />Website:<span> </span><a href="https://www.cutislaserclinics.com">www.cutislaserclinics.com</a></p>
    </div>
    </div>
    <div class="so-tab"><input id="so-tab-7" name="tabs" type="checkbox" /> <label for="so-tab-7">South Africa</label>
    <div class="so-tab-content">
    <h3><br />Divine Proportions</h3>
    <p>Contact: Julie Steyn<br />Phone: +27 83 327 7742<br />Email:<span> </span><a href="mailto:info@divinepro.co.za">info@divinepro.co.za</a><br />Website:<span> </span><a href="https://www.divinepro.co.za/">www.divinepro.co.za</a></p>
    </div>
    </div>
    <div class="so-tab"><input id="so-tab-8" name="tabs" type="checkbox" /> <label for="so-tab-8">Trinidad and Tobago</label>
    <div class="so-tab-content">
    <h3><br />Essentia Distribution Ltd.</h3>
    <p>Contact: Kristine Dabypersad<br />Phone: 868-681-0972 or 868-726-6047</p>
    <meta charset="utf-8" />
    <p><span>Contact: Shaun Dabypersad</span><br /><span>Phone: 868-779-7101</span></p>
    <p>Email:<span> </span><a href="mailto:support@essentiadistribution.com">support@essentiadistribution.com</a><br />Website:<span> Coming Soon!</span></p>
    </div>
    </div>
    <div class="so-tab"><input id="so-tab-9" name="tabs" type="checkbox" /> <label for="so-tab-9">UK &amp; GibraltAR</label>
    <div class="so-tab-content">
    <h3><br />Rosmetics Aesthetics Limited</h3>
    <p>2 Sherwood House<br /> Sherwood Road<br /> Bromsgrove B60 3DR <br />United Kingdom<br />Contact: Clive Shotton<br />Phone: (+44) 345 50 50 601<br />Email:<span> </span><a href="mailto:info@rosmetics.co.uk">info@rosmetics.co.uk</a><br />Website:<span> </span><a href="http://www.rosmetics.co.uk">www.rosmetics.co.uk</a></p>
    </div>
    </div>
    <div class="so-tab"><input id="so-tab-10" name="tabs" type="checkbox" /> <label for="so-tab-10">Turkey &amp; Georgia</label>
    <div class="so-tab-content">
    <h3><br />Medicaderma</h3>
    <p>Medicaderma Turkey<br /> Altay Çeşme Mahallesi Hikmet Sokak No:11<br /> Maltepe Istanbul 34843<br /> Turkey<br />Contact: MERVE<br />Phone: 8504341414<br />Email:<span> </span><a href="mailto:info@medicaderma.com.tr">info@medicaderma.com.tr</a><br />Website:<span> </span><a href="http://www.medicaderma.com.tr">www.medicaderma.com.tr</a></p>
    </div>
    </div>
    <div class="so-tab"><input id="so-tab-11" name="tabs" type="checkbox" /> <label for="so-tab-11">Vietnam</label>
    <div class="so-tab-content">
    <h3><br />SCI-DERM PROFESSIONALS COMPANY LIMITED</h3>
    <p>1st Floor, Packsimex Building, <br />52 Dong Du, Ben Nghe Ward, District 1, <br />Ho Chi Minh City<br />Contact: Hien Pham<br />Phone: +84987667489<br />Website:<span> </span><a href="http://vipeel.com.vn">vipeel.com.vn</a></p>
    </div>
    </div>
    </div>
    <lt-toolbar contenteditable="false" class="lt--mac-os" data-lt-force-appearance="light" style="display: none;"><lt-div class="lt-toolbar__wrapper lt-toolbar__wrapper-hide"><lt-div class="lt-toolbar__premium-icon"></lt-div><lt-div class="lt-toolbar__status-icon lt-toolbar__status-icon-has-no-errors lt-toolbar__status-icon-has-notification" title="LanguageTool - Spelling and Grammar Check"></lt-div></lt-div></lt-toolbar>

</div>